[2013-04-10 22:54] jack-oquin opened #1 "convert to catkin for Hydro"

[2013-05-29 22:40] jack-oquin opened #2 "velodyne_pointcloud: transform node and nodelet not meeting expected Hz levels"
The tests are only running at under 3Hz on the build farm due to transform lookup delays.

[2013-05-29 22:40] #1 closed, assigned to jack-oquin

[2013-05-29 22:45] jack-oquin opened #3 "velodyne: clean up catkin unit tests"
This must wait until a new catkin release permits proper addressing of the downloaded test PCAP files.

See: ros/catkin#426

[2013-06-15 14:59] #3 closed, assigned to jack-oquin

[2013-06-15 15:05] jack-oquin opened #4 "velodyne-1.0.0 debbuild failing"
pluginlib dependency not resolved
- http://jenkins.willowgarage.com:8080/job/ros-hydro-velodyne-driver_sourcedeb/

Looks like an explicit dependency on `pluginlib` is now required. Both `velodyne_driver` and `velodyne_pointcloud` probably need it.

[2013-06-15 15:19] #4 closed, assigned to jack-oquin

[2013-06-18 03:12] jack-oquin opened #5 "add roslaunch_add_file_check() unit test"
Needed for velodyne_driver and velodyne_pointcloud.

See: ros/ros_comm#241

[2013-07-10 00:00] jack-oquin opened #6 "velodyne-0.9.1 rosbuild failing in Groovy"
[code]

Looks like some dependency that used to depend on roslib stopped doing it.

[2013-07-10 01:07] jack-oquin opened #7 "velodyne-0.9.1 rosbuild failing in Groovy"
[code]

Looks like some dependency that used to depend on roslib stopped doing it.

[2013-07-10 03:02] #7 closed, assigned to jack-oquin

[2013-07-13 18:51] jack-oquin opened #9 "install nodelet XML plugin files for velodyne_driver and velodyne_pointcloud"

[2013-07-13 18:53] jack-oquin opened #10 "make unit tests conditional on CATKIN_ENABLE_TESTING"
This is a new catkin requirement.

[2013-07-13 18:56] #6 closed, assigned to jack-oquin

[2013-07-13 19:14] #9 closed, assigned to jack-oquin

[2013-07-13 19:55] #10 closed, assigned to jack-oquin

[2013-07-17 17:19] jack-oquin opened #11 "Need a new, different model name to support HDL-64E S2 and S2.1"
Those models produce data at about 1.333 MB/s, different from the 1.0 MB/s of the older HDL-64E. That makes the `packet_rate` calculation wrong.

References:
- [Velodyne HDL-62E S2 and S2.1 product manual (PDF)](http://www.velodynelidar.com/lidar/products/manual/63-HDL64E%20S2%20Manual_Rev%20D_2011_web.pdf)
- http://answers.ros.org/question/67320/packet-rate-of-velodyne-hdl-64e-in-velodyne_driver/

[2013-07-25 14:10] jack-oquin opened #13 "velodyne_pointcloud: transform.cc loses device frame_id"
@gabor-meszaros found this error in transform.cc

[code]

The toPCL overwrites the inPc_header.frame_id with the header variable's frame_id which is an empty string by default.

It appears to have been caused by the PCL 1.7 fix @wjwwood created, and it may affect more packages than just this one. The other `pcl_conversion` updates in this package all look correct.

See the #11 discussion.

[2013-07-30 11:09] gabor-meszaros opened #15 "IMU input support is needed for point cloud creation"
IMU data should be considered when you generate the point cloud from velodyne packates.

Whith the current implementation when you see the generated pointcloud frame by frame you can observe duplicated objects:
![duplicated-1](https://f.cloud.github.com/assets/1611092/878029/bd27c9b6-f903-11e2-9254-17fdc164b0b1.png)
![duplicated-2](https://f.cloud.github.com/assets/1611092/878030/bffa9308-f903-11e

[2013-07-30 22:54] #11 closed, assigned to jack-oquin

[2013-07-30 22:55] #13 closed, assigned to jack-oquin

[2013-09-26 00:47] bricerebsamen opened #16 "problems with custom values of npackets"
Hi

I just started replacing my custom velodyne driver with this one so that I have less code to maintain ;)

I am trying to publish one packet at a time so that my algorithms can be more incremental, as opposed to having to wait for a whole spin. So I am setting npackets=1. (I am using a 64E_S2 model)

That leads to 2 issues:

1) the diagnostic reports that the frequency is too high: 3472 vs 10

[2013-09-26 03:17] jack-oquin opened #17 "velodyne_driver: vdump not installed in catkin version"
see: #16

[2013-09-28 04:37] dirk-thomas opened #18 "update test data url to download.ros.org"
Please update the urls for test data from pr.willowgarage.com to download.ros.org.
- velodyne_driver/CMakeLists.txt
- velodyne_pointcloud/CMakeLists.txt

[2013-09-29 15:40] jack-oquin opened #19 "velodyne_driver: frequency calculation for diagnostics ignores npackets parameter"
In [driver.cc line 61](https://github.com/ros-drivers/velodyne/blob/master/velodyne_driver/src/driver/driver.cc#L61) there is an obvious bug. The frequency computed is in revolutions per second. That is then set as the expected message frequency for diagnostics.

It needs to be adjusted by the actual value of npackets.

[2013-11-03 18:57] kscottz opened #20 "Issue with apt-get ros on Ubuntu and gen_calibration.py"
I was trying to get my Velodyne HDL-32E working with ROS. I had some trouble doing the calibration step in [this tutorial](http://wiki.ros.org/velodyne/Tutorials/Getting%20Started%20with%20the%20HDL-32E). It seems that the gen_calibration.py file in the tutorial didn't make it into the apt repository. I had to do the following:
- sudo mkdir /opt/ros/hydro/lib/velodyne_pointcloud/scripts/
- sudo cp

[2013-11-05 15:20] #5 closed, assigned to jack-oquin

[2013-11-05 19:12] #20 closed, assigned to jack-oquin

[2013-11-05 19:13] #18 closed, assigned to jack-oquin

[2013-11-05 19:13] #17 closed, assigned to jack-oquin

[2014-02-14 13:47] tobiasneumann opened #21 "velodyne_driver displays ellipse of laser beams instead of circle"
Hello, we are using the Velodyne HDL-64E S2 with ROS Hydro for indoor mapping. During this we saw, that the ROS.driver for the Velodyne creates Pointclouds where the Laser-beams are in an ellipse instead of a cicle.

In detail described here(also with bagfiles): http://answers.ros.org/question/124641/velodyne_driver-displays-ellipse-of-laser-beams-instead-of-circle/

ROS-driver: http://robotics.fh

[2014-03-28 21:20] ibaranov-cp opened #24 "Proposed addition of GPS and IMU data"
Hey,

I was wondering why no one ever added in the GPS and IMU data.
I am going to be working on this, and might ask for a merger later.

[2014-04-09 15:24] jack-oquin opened #25 "velodyne_pointcloud: change default min_range to 0.9 meters"
The default has been 2.0 for may years, but not for any good reason.  Unfortunately, changing it now may break some applications. Although the fix will be simple, diagnosing the problem might be tricky.

Because this is an API change, it should _not_ be released before Indigo.

According to Velodyne documentation, 90 cm is the actual minimum range of the lasers. That would be the best default valu

[2014-04-18 06:15] Gariben opened #26 "Potential Depth-image creation"
I would like to see if I could create add the ability to create a depth image to the velodyne stack. I have a theoretical approach lined out:

(from my ros answers post)

I think if I can get the 'rotation' value from the 'row_block_t' (from rawdata.h) and then the 'laser_number' values (from rawdata.cc), I can make a matrix of size ROTATION_MAX_UNITS by SCANS_PER_BLOCK and then store the depth to

[2014-04-24 00:48] #16 closed, assigned to jack-oquin

[2014-04-24 20:36] #19 closed, assigned to jack-oquin

[2014-06-09 16:40] jack-oquin opened #28 "velodyne_pointcloud: remove model-dependent "constants" from rawdata.h"
PACKETS_PER_REV and SCANS_PER_REV should not be defined as constants in rawdata.h. They are model-dependent.

xref: #26

[2014-08-05 18:34] adasta opened #29 "Release for Indigo"
The repository compiles and runs in Indigo.  What needs to be done to set up the deb release for Indigo?

[2014-08-05 21:26] #26 closed, assigned to nobody

[2014-08-05 22:19] #25 closed, assigned to jack-oquin

[2014-08-05 22:24] #28 closed, assigned to jack-oquin

[2014-08-14 03:30] prclibo opened #30 "packet ending bytes format inquiry"
Hi,
I find [this](https://github.com/ros-drivers/velodyne/blob/000bbd70df3590607cf0358b9d8c1aebf5cd7d64/velodyne_pointcloud/include/velodyne_pointcloud/rawdata.h#L103) packet format seems not consistent with the format from either HDL-64E S2 or HDL-32E manuals, where the ending 6 bytes in a packet is define as:

So just curious why they are different.

[2014-08-15 22:03] evolutionsdisaster opened #31 "Xcoordinate equation seems wrong in rawdata.cc"
Hi,

I  was going through the velodyne/rawdata.cc code and felt like line 199 is wrong(dint look right) and it doesnt match with user manual code provided by the velodyne company.

X coordinate should have been xyDistance*sinRotAngle - hoffsetCorr*cosRotAngle.
Currently its + hoffsetCorr*cosRotAngle.

Please correct me if I am wrong.

Thankyou,
~Faiz

[2014-09-26 03:44] mikepurvis opened #32 "Supply URDF, Gazebo config?"
Would this repository consider adding a `velodyne_description` package, with a xacro for spawning Velodyne sensors (especially the HDL-32e) into larger robot models? If so, I could work on preparing such a thing.

A simple example of something comparable would be the [`flir_ptu_description`](https://github.com/ros-drivers/flir_ptu/tree/master/flir_ptu_description/urdf) package available alongside

[2014-10-09 13:28] ddillenberger opened #33 "Number of packets published per message is not exactly a revolution if "npackets" set to default"
Hello@all,

we would like to submit a patch (velodyne_driver/driver.cc) which would cut the packet stream in a better way, so that a single revolution always starts/ends at a specific angle (for example while the LIDAR points to the robot).
There are two reasons for that:
First is that we've never seen a Velodyne LIDAR (we work with multiple 64E S2 and 32E models) whose rotation speed is very stab

[2015-03-09 12:10] awesomebytes commented on #32
Any light on this issue? I've been searching for some robot with a velodyne in it's model to start from that (or a magnificient velodyne_description itself) but I haven't found anything.

[2015-03-09 13:00] mikepurvis commented on #32
Alas, no progress from my side. Still interested in it, tho.

[2015-03-09 22:33] jack-oquin commented on #32
Me, either. I have no time for that kind of work these days.

[2015-03-18 16:27] bmagyar commented on #32
I'm working on it. The first version will be based on the MultiSenseSL (spinning hokuyo) to implement the Velodyne Puck. If there is interest we can talk further about the implementation.

[2015-04-02 00:06] bricerebsamen opened #45 "fail to read calibration"
When running the tests, it complains about not being able to read the calibration file:

[code]

Note the `ERROR` towards the end. In gdb I traced it to calibration.cc:70 where it reads `HORIZ_OFFSET_CORRECTION`. The corresponding field does not exist in the calibration file. Was probably introduced in fc20169be77cb7f649961fb97f91e565fe9ba28a

[2015-04-02 01:06] jack-oquin commented on #45
Yes. I've seen this recently, too. That field did not exist in the old 64E model.

I am not sure what to do. Do you have a suggestion? Should we make the field optional, or change the default calibration to some newer model?

[2015-04-02 01:25] bricerebsamen commented on #45
I think it depends on how critical this parameter is, i.e. can it be optional and/or have a default value. It also depends whether you want to invalidate all the calibration files that people have generated, more or less painstakingly, over the years.

Seems that before the recent changes, you were using the `vert_offset_correction` for the `horiz_offset_correction` which was bad anyway. Also it s

[2015-04-02 01:30] jack-oquin commented on #45
That sounds reasonable to me.

[2015-04-02 01:53] SISegwayRmp commented on #24
I'll put up an IMU driver for the HDL-32E soon, we used it to gather IMU data for online 3D mapping but gave up the 32 for a few 16's. I have quite a bit of inertial estimation experience and I must warn that the 32E inertial sensors are not temperature or bias corrected; they are good enough for gross correction since they are frame aligned with laser data and the accs are redundant.

More useful

[2015-04-02 21:13] jack-oquin commented on #24
Sounds great, thanks!

[2015-04-02 21:51] jack-oquin commented on #45
For the 32E, there appears to be an error in the test cases. They try to use the generic calibration for that device, which does contain the ``horizontal_offset_correction``, set to zero.

Somehow, the correct calibration file is not being selected.

[2015-04-07 11:26] bmagyar commented on #32
It is done. Give me a few days to prepare a proper PR and some story about it ;)

[2015-04-07 14:00] jack-oquin commented on #32
Thanks, @bmagyar, much appreciated!

[2015-04-18 11:30] etake commented on #31
I am using Velodyne HDL64S2  with velodyne_pointcloud node.
I had same horizontal offset problems.

current line 211 in rawdata.c is (maybe, this is same line )
 x = xy_distance * sin_rot_angle + horiz_offset * cos_rot_angle;
and measured result is
![before](https://cloud.githubusercontent.com/assets/10028069/7215200/97707c30-e606-11e4-8d4f-8e7a4a9d08c9.png)
 (sensor: HDL64-S2, target: 50cm circle

[2015-04-18 14:49] jack-oquin commented on #31
Thanks! That is very helpful.

I have not been actively working on this driver lately. I would accept a pull request with the fix you tried.

[2015-05-01 16:31] thejray opened #48 "Generated calibration has invalid values"
When I do this:

    rosrun velodyne_pointcloud gen_calibration.py example.xml

then run

    roslaunch velodyne_driver nodelet_manager.launch
    roslaunch velodyne_pointcloud cloud_nodelet.launch  calibration:=/path/to/example.yaml

I get see an error in the nodelet manager output:

    YAML Exception: yaml-cpp: error at line 0, column 0: bad conversion
    [ERROR] [1430497621.262533093]: Unable

[2015-05-01 16:32] jray-ecr commented on #48
Unable to figure out how to attach files, so here's the xml for example.xml:

<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<!DOCTYPE boost_serialization>
<boost_serialization signature="serialization::archive" version="4">
<DB class_id="0" tracking_level="1" version="0" object_id="_0">
	<distLSB_>0.2</distLSB_>
	<position_ class_id="1" tracking_level="0" version="0">
		<xyz>
			<count>

[2015-05-01 23:12] jack-oquin commented on #48
Thanks for the bug report.

What device model do you have?

[2015-05-02 18:38] jray-ecr commented on #48
it is a Velodyne HDL-64E S2. The XML I posted is the calibration from velodyne.
--
Sent by whistling into a 2400 baud modem

On May 1, 2015 7:12:28 PM EDT, jack-oquin <notifications@github.com> wrote:

[2015-05-05 15:00] jack-oquin commented on #45
I think we need to make ``horizontal_offset_correction`` optional. It is not used by all devices.

See also: #41

[2015-05-06 00:16] prclibo commented on #45
@bricerebsamen why should `1` be the default value for `horizontal_offset_correction `?
For reference, https://github.com/Kitware/VeloView/blob/master/VelodyneHDL/vtkVelodyneHDLReader.cxx#L1136 VeloView is using `0` as default.

[2015-05-06 21:45] jack-oquin commented on #45
@prclibo: It looks like it should be one because it is used as a multiplier for the sin or cos or the rotation angle.

See here for an example: https://github.com/ros-drivers/velodyne/blob/master/velodyne_pointcloud/src/lib/rawdata.cc#L211

Does that seem wrong to you?

[2015-05-07 03:32] prclibo commented on #45
@jack-oquin According to the manual:

Although I am not sure what does this mean, I guess this is like some offset from the laser emitter to the laser center. 1meter sounds like too big as the default value.

[2015-05-07 12:42] jack-oquin commented on #45
I don't know what it means, either.

[2015-05-07 17:46] bricerebsamen commented on #45
I don't use their calibration, and I don't use your pointcloud node. But I have a similar parameter in my calibration. The lasers are not exactly centered on the rotation axis. There is a slight offset to the side, either by design or as a result of a manufacturing error. If that's the case, 0 should be the default value.

[2015-05-07 19:26] jack-oquin commented on #45
Ahh, thanks to you both for clearing that up.

[2015-06-11 09:36] kunlileo opened #50 "a possible improvement in the coordinate calculation due to the mathematical model"
Hi guys!

I am a student from KIT. I am now working on my graduation project so I get to know the velodyne scanner and the codes of it. Somehow, I noticed that the codes for the calculation of the xy_distance uses a expression that is different from the one I worked out or the one I read about in other papers. I manage to adjust my expression in the codes and I got a better result of the scanns.

[2015-06-11 12:02] kunlileo commented on #50
and of course the I used the for the calculation of x  this code:
 x = xy_distance * sin_rot_angle - horiz_offset * cos_rot_angle;
instead of
 x = xy_distance * sin_rot_angle + horiz_offset * cos_rot_angle;

[2015-06-19 21:37] jack-oquin commented on #50
Thanks for the suggestion. A pull request containing these corrections would be helpful.

[2015-06-25 08:17] stagecity opened #52 "Possible wrong type"
Hello,

there is a possible wrong type in velodyne_pointcloud rawdata.h for VLP16.
Original code is :
  static const int VLP16_BLOCK_TDURATION = 110.592;
  static const int VLP16_DSR_TOFFSET = 2.304;
  static const int VLP16_FIRING_TOFFSET = 55.296;

Corrected code would be :
  static const float VLP16_BLOCK_TDURATION = 110.592f;
  static const float VLP16_DSR_TOFFSET = 2.304f;
  static const floa

[2015-07-04 00:08] jack-oquin commented on #52
Your comment looks right to me. Assuming the fractional values are correct, typing them as ``int`` causes undesired truncation.

[2015-07-13 08:37] prclibo commented on #50
@kunlileo Hi, I noticed your PR #51 . I don't see why you are adding a `vert_offset * sin_vert_angle` term. Nor do I understand what this term stands for. The original code is consistent with the velodyne 64E_S2 [manual](http://www.velodynelidar.com/lidar/products/manual/63-HDL64E%20S2%20Manual_Rev%20D_2011_web.pdf)

Could you possibly provide your reference paper about the new added term. Thank y

[2015-07-13 09:12] kunlileo commented on #50
@prclibo  Hi, Thanks for your comment. That was actually due to the mathematical model we used to describe the offsets.I read three papers about the velodyne LIDAR and two of them used the same model we got here. These two papers are "LIDAR Velodyne HDL-64E Calibration using Pattern Planes" and "Velodyne HDL-64E Proximity Laser Scanner Calibration-annotated". In the paper "LIDAR Velodyne HDL-64E C

[2015-07-13 17:59] jack-oquin commented on #50
@prclibo and @kunlileo: thanks for posting these references. We should probably include them in whatever code we finally end up using.

[2015-07-16 16:37] droter opened #54 "Compile Error"
Hi,

I cloned the source and tried to compile but I am getting this error:

catkin_ws/src/velodyne/velodyne_driver/include/velodyne_driver/input.h:36:18: fatal error: pcap.h: No such file or directory
 #include <pcap.h>

I am running Indigo on Ubuntu 14.04.

Thanks,

Matt

[2015-07-16 17:54] jack-oquin commented on #54
You are missing one of the dependencies, libpcap-dev.

[2015-07-22 07:31] prclibo commented on #50
@kunlileo Thanks for the reference. The paper clarifies my confusion about the so-called 'vertical correction' in that it is actually not on a vertical direction. It would be good to including the papers in the code.

[2015-07-22 07:37] prclibo commented on #48
@jray-ecr did #42 fix this?

[2015-07-23 15:05] ferrefrederick opened #56 "VLP-16 Multi-Echo Data Structure"
Hi everyone,

I'm currently working with a VLP-16 and using it for various applications.

What I've noticed is that, and correct me if I'm wrong, the data structure of the VLP-16 is copied from the HDL-32E, meaning that in Last or Strongest Return Mode, there is actually a Block of 32 "hits" per Laser Fire. The second block of 16 "hits" is just a copy of the first "16".

To be picky, this is doubl

[2015-07-23 15:25] jack-oquin commented on #29
Despite the many good suggestions made here, I don't see any compelling reason to change the current parameters (and I personally rather like them).

Since the discussion has lapsed, I am closing the issue now. If anyone feels strongly enough to continue the discussion, please do re-open this issue. Thanks to all who participated.

[2015-07-23 15:25] #29 closed

[2015-07-23 15:55] jack-oquin commented on #54
A generally useful way to install all the dependencies of everything in your catkin workspace that's not already resolved within that workspace:

[code]

Please close this issue if that fixes your problem.

[2015-07-23 16:14] jack-oquin commented on #56
Thanks for the report.

For cross-reference, here are some ROS questions and answers about this topic:

* http://answers.ros.org/question/212668/pointcloud-visualisation-blinking-when-using-velodyne-vlp16-dual-return-mode/
* http://answers.ros.org/question/212653/solvedhow-to-select-dual-return-mode-for-velodyne-vlp16/

A summary of the current status:

* The ROS PointCloud2 message used to publis

[2015-07-23 16:26] ferrefrederick commented on #56
Hi Jack,

Thanks for the quick answer.

My problem is more around the sending of information twice, considering half of it is useless. I have access to a VLP-16, So i can confirm the echo mode or Strongest/Last is configurable in the webserver easily. What it does though, is enable or not the echo, and that is functioning as intended.

Even when not in echo mode, there is are two blocks of 16 'hit

[2015-07-23 17:41] jack-oquin commented on #56
As far as I can recall, you are the first to mention the wasted bandwidth problem.

Please update this issue with whatever you learn from talking to Velodyne.

To be clear: are you trying to eliminate the wasted space in the raw packets? Or are the converted 3D points getting published twice each?

I can't think of anything the driver can do about the extra packet contents.

[2015-07-23 20:51] droter commented on #54
Thanks for your help.

Yes, after installing the dependencies I was able to build.

Matt

[2015-07-23 20:51] #54 closed

[2015-08-06 16:39] jack-oquin commented on #32
@bmagyar: we are still interested in your packages, if they are available.

[2015-08-06 21:33] bmagyar commented on #32
Absolutely. I will try to cook something up this weekend / next week.

[2015-08-07 08:10] ferrefrederick commented on #56
Hi all,

The doc I had from Velodyne was wrong, they sent me an updated version and I get what I had assumed wrong. What the VLP-16 does is use the same structure as the 32, but it sends the Azimuth N in the first 16 and the Azimuth N+1 in the next 16. So it does not actually send the same point twice. And that 32 block is doubled in Dual return mode, which is logical (echo of Azimuth N and echo o

[2015-08-07 17:38] jack-oquin commented on #56
Thanks for checking.

Is this still an issue, or should we close it?

[2015-08-31 13:44] pierriko opened #57 "Using pcap timestamp"
Hello,

Is there any way to convert a pcap to a rosbag using timestamp form the pcap ?

In `InputPCAP::getPacket`: `pkt->stamp = ros::Time::now();` while `pcap_pkthdr` contains a `timeval`.
- https://github.com/ros-drivers/velodyne/blob/master/velodyne_driver/src/lib/input.cc#L245

Would it be interesting to replace the `ros::Time::now` by `header.ts` ?

[2015-08-31 16:29] jack-oquin commented on #57
Not without adding a [Phase Locked Loop](https://en.wikipedia.org/wiki/Phase-locked_loop) to handle skew between the device clock and the system clock.

The ROS time is based on system time. All messages from all sources must use that so they make sense together.

If you are willing to develop or donate a good PLL implementation for this driver under an appropriate open source license, that would

[2015-09-01 10:12] pierriko commented on #57
Hello and thank you for your answer,

Correct me if I'm wrong, but timestamps from the pcap come from the kernel time at the moment of the tcpdump, not the device clock.

My use-case here, is that I have others dumps with system timestamps (GPS, IMU, Gyro, ...) and I'd like to keep the sams time frame for all of them.

[2015-09-03 14:56] jack-oquin commented on #57
Please excuse me, I completely misunderstood your question. I thought you were asking about GPS time, which some Velodyne models provide.

Your idea seems reasonable. I guess no one ever tried it before. Most people probably save the ``/velodyne_packets`` topic in rosbag format along with other topics like ``/tf`` and ``/odom``. That's what I do. That way, the ``rosbag play --clock`` option will p

[2015-09-04 15:19] jack-oquin commented on #57
That conversion looks reasonable, but an additional parameter will also be needed, so users can say whether they want to use current time or PCAP time during playback.

The parameter default will have to work the way it currently does, to avoid surprising people.

[2015-09-24 02:08] jack-oquin opened #59 "need a new ROS Indigo release"
There are lots of enhancements that should be released.

Docs need updating.

[2015-10-14 19:15] jack-oquin opened #60 "velodyne_pointcloud: dynamic reconfigure limits min_range to 0.9 meters"
Some models may support shorter ranges, so configuration should allow smaller settings.

Maybe this is only a theoretical problem, but it prevents people from experimenting.

[2015-10-14 20:33] jack-oquin commented on #60
Apparently, the VLP-16 *is* limited to 0.9 meters, like most of the other models.

[2015-10-14 21:09] jack-oquin commented on #60
The Windows ``veloview`` program *does* show returns as short as 0.45 meters.

So, there must be some additional bug in this driver.

[2015-10-14 21:40] jack-oquin commented on #60
The [VLP-16 manual](http://velodynelidar.com/docs/manuals/VLP-16%20User%20Manual%20and%20Programming%20Guide%2063-9243%20Rev%20A.pdf) on page 3 does mention a "range from 1m to 100m".

[2015-10-14 21:43] piyushk commented on #60
@jack-oquin Thanks for finding that. I missed it in my original sweep.

I'll perform additional testing tomorrow to see if I can find a solution to this problem.

[2015-10-14 23:31] jack-oquin opened #61 "VLP-16: VeloView returns data at shorter range than this driver"
Using our driver, I am unable to see anything closer than about 0.9m with the VLP-16.

Using the VeloView program on Windows, we were able to see objects with the same device at about half that distance, 45cm.

When using a VLP-16 with indoor robots, that difference is critical. We need to figure out how it is done.

xref: #60
cc: @piyushk, @PatrickHussey, @bricerebsamen

[2015-10-14 23:32] jack-oquin commented on #60
This issue is fixed. The remaining problem with close-range VLP-16 data deserves a separate issue, #61.

[2015-10-14 23:32] #60 closed

[2015-10-15 02:01] PatrickHussey commented on #61
Back when I contributed the VLP-16 support updates I had looked into the min range issue for the same reasons (indoor applications). I can look at my dev branch next week and see what I did to improve it.

Next week I'll be preparing a new platform with the sensor so I'll have a chance to see what I did to improve it and contribute it.

[2015-10-15 12:59] jack-oquin commented on #61
Thanks, Patrick. That would be very helpful.

[2015-10-27 17:59] jack-oquin commented on #61
@PatrickHussey: I have not been able to figure this out on my own yet, any ideas?

[2015-10-27 18:05] jack-oquin commented on #56
Since there has been no further discussion and there are no proposed driver changes, I am closing this issue.

If there is more to discuss or things we still need to do, please re-open it.

[2015-10-27 18:05] #56 closed

[2015-10-27 18:15] PatrickHussey commented on #61
Just started updating things for the new platform, will get back to you by Friday/Monday.

From: jack-oquin [mailto:notifications@github.com]
Sent: Tuesday, October 27, 2015 1:59 PM
To: ros-drivers/velodyne <velodyne@noreply.github.com>
Cc: Patrick Hussey <Patrick.Hussey@stanleyinnovation.com>
Subject: Re: [velodyne] VLP-16: VeloView returns data at shorter range than this driver (#61)

@PatrickHu

[2015-10-28 00:45] dwolfe64 opened #62 "VLP 16 - How to convert velodyne_packets to velodyne_points to view in rviz?"
I am using the ROS to convert a .PCAP to a bag file. The bag file contains velodyne_packets topic and from the velodyne pointcloud driver ( https://github.com/ros-drivers/velodyne/tree/master/velodyne_pointcloud )  inside of params the VLP16db.yaml file doesn't seem to work. See problem below.

When I run the cloud node ( rosrun velodyne_pointcloud cloud_node _calibration:=/home/abe/velodyne/src/v

[2015-10-28 15:01] jack-oquin commented on #62
Thanks for the report.

Is it possible to make a small extract from your bag file that we can use for debugging?

[2015-10-29 18:27] nxydes opened #63 "VLP-16: Velodyne driver nodelets crash"
Hello all,

We are experiencing some frustrating issues with these drivers where the entire nodelet stops functioning. It typically happens after we have run the robot for many hours (12-36) and then begins to happen at a relatively frequent rate (every hour to every couple hours). It seemingly happens randomly and we can not induce it.

We are running our robots with ubuntu 14.04, ros indigo and

[2015-10-29 20:27] jack-oquin commented on #63
Thanks for the very informative report.

Note that VLP-16 was only recently added, has not yet been extensivley tested or included in an official driver release.

So, it is quite possible that there may be some kind of model-specific bug, perhaps triggered by some combination of data in a VLP-16 packet, see #62.

[2015-10-29 20:31] jack-oquin commented on #62
@dwolfe64: I am very anxious to get a copy of your bag file so I can debug this on my own system.

This could be related to #63. If so, a bag that will reliably crash the driver would be a huge help.

[2015-10-29 20:38] jack-oquin commented on #63
I now have access to a VLP-16 belonging to the University of Texas at Austin. Since I heard about this problem, I have tried running the driver for about six hours while displaying the point cloud several times, so far without a crash. I am usually only there one day a week, so it's hard for me to run the test much longer.

I hope that the bag file from #62 may help me debug this issue more easily

[2015-10-29 21:09] jack-oquin commented on #63
@nxydes: I interpret the rosmaster Python traceback as probably some kind of crash triggered when you query the status of a dead nodelet manager. Does that seem right to you?

If so, it is probably a separate problem from the driver crash itself, and we should report it as a [ros/ros_comm issue](https://github.com/ros/ros_comm/issues) for rosmaster.

[2015-10-29 21:19] jack-oquin commented on #63
I think we need a gdb thread backtrace of the velodyne manager process crashing.

Doing that in ROS is somewhat tricky. If you need detailed instructions, please ask.

[2015-10-29 21:21] jack-oquin commented on #63
Was this launched via the ``velodyne_pointcloud/launch/VLP16_points.launch`` script, so some other way?

If other, please post the commands needed to load and run the nodelet.

[2015-10-29 21:23] PatrickHussey commented on #61
Found the issue, you can see the changes in my local copy. I started merging other changes to get it up to date, and issue a pull request but ran out of time.

See
VLP16.launch
raw_input.cc
VelodyneConfig.cfg

The changes committed in those files allows you to get 0.45m with accurate measurements

From: jack-oquin [mailto:notifications@github.com]
Sent: Tuesday, October 27, 2015 1:59 PM
To: ros-dr

[2015-10-29 21:27] nxydes commented on #63
jack-oquin

We also came to the conclusion that the python traceback was merely indicating a "dead" node or in someway was no longer able to communicate.

As far as gdb thread backtrace we would appreciate the detailed instructions, a colleague of mine has some experience with it but we would like to know how you would do it.

I'm trying to get some bag data from one of the crashes, I can strip ou

[2015-10-29 21:57] jlblancoc commented on #63
Hi @nxydes ,

Yes, you will need to provide a gdb backtrace for further debugging...

It seems there is a prefix param which will launch the node under `gdb` automatically, see: http://wiki.ros.org/roslaunch/Tutorials/Roslaunch%20Nodes%20in%20Valgrind%20or%20GDB

Once the program crashes, you will see the command line prompt of `gdb`. Once there, execute the command `bt` (for a backtrace of the ca

[2015-10-29 21:59] jack-oquin commented on #63
Running the ``pointcloud_to_laserscan_nodelet`` in the same nodelet manager address space with the velodyne driver is an excellent idea for system efficiency.

Unfortunately, it is hard to tell from the outside which nodelet in that process actually crashed.

As an experiment, would you mind running the laserscan nodelets in a separate address space? That will convince us whether the bug is in the

[2015-10-29 22:04] jack-oquin commented on #63
@jlblancoc: thanks for posting. That is a good link for getting gdb backtraces.

In this case, the core dump instructions described there should be sufficient.

[2015-10-29 22:14] PatrickHussey commented on #61
Sorry changes are committed to the one I forked:

https://github.com/PatrickHussey/velodyne

-Patrick Hussey
www.stanleyinnovation.com<http://www.stanleyinnovation.com>

On Oct 29, 2015, at 5:22 PM, Patrick Hussey <Patrick.Hussey@stanleyinnovation.com<mailto:Patrick.Hussey@stanleyinnovation.com>> wrote:

Found the issue, you can see the changes in my local copy. I started merging other changes to

[2015-10-29 22:17] jlblancoc commented on #63
You are welcome! We are receiving a VLP-16 in our University soon, so it's me who must thank you all for the effort of publishing and polishing these drivers! :+1:

[2015-10-29 22:58] nxydes commented on #63
@jack-oquin

"As an experiment, would you mind running the laserscan nodelets in a separate address space? That will convince us whether the bug is in the Velodyne driver or in the conversion nodelet."

Not sure what you mean by running it in separate address space. We started out launching it in a separate launch file and only recently condensed it into a single launch file. We still had identica

[2015-10-29 23:00] dwolfe64 commented on #62
@jack-oquin sorry for the delay. Here is a dropbox downloaded link to a small bagfile. https://www.dropbox.com/s/rd0ho9dlgml9jk6/RCP2.bag?dl=0
Thanks for your help!

[2015-10-29 23:09] jack-oquin commented on #63
A ROS nodelet manager loads and runs all its nodelets using a pool of threads in a single Linux process with its own address space. If any of them crashes (segfault, bus error, etc.), the whole process terminates.

So, running ``pointcloud_to_laserscan`` as separate nodes instead of nodelets will be sufficient to establish that the crash is indeed in the Velodyne driver. Alternatively, you could l

[2015-10-29 23:14] jack-oquin commented on #62
Thanks, @dwolfe64! That should help a lot.

[2015-10-29 23:15] jack-oquin commented on #61
Thanks, Patrick!

[2015-10-29 23:21] PatrickHussey commented on #61
No problem so now that I have a little time here is the explanation:

in raw_input.cc points with intensities out of range were allowed to be added to the pointcloud. When an object was closer than 0.45m it would register as a point ~0.45m away. So filtering out the points that exceed min/max intensity did the trick.

Needed to change the dynamic reconfigure since it would override setting limits

[2015-10-29 23:30] jack-oquin commented on #61
Those changes are already committed in master.

[2015-10-29 23:33] PatrickHussey commented on #61
Sorry didn't have time to update to the present release, just made the changes in the local copy I had made. If they are already in the master you can just ignore. Will update my local copy to the master so I can help out going forward.

Thanks!

[2015-10-30 01:33] konduri commented on #63
Hi guys, im having trouble running with the launch-prefix in the roslaunch, so might need a 101. i have to ssh into the machine and launch  the rosnodes. I've gotten three results with three launch-prefixes. All of them bad.

### First result
gdb -ex run --args  , throws a bunch of  ioctl for device errors
[code]
process[cloud_nodelet-4]: started with pid [8222]
  2 process[pointcloud_to_laserscan

[2015-10-30 02:21] jack-oquin commented on #63
I doubt you need a launch prefix to start with.

Just set ``ulimit -c unlimited`` in the shell before launching, so you get a core dump. Then, run gdb on the core file after it crashes.

[2015-10-30 03:04] konduri commented on #63
sounds good. Will try it out and post results.

[2015-10-30 14:31] jack-oquin commented on #63
For future reference: if you need to run gdb on a nodelet via the launch prefix method, you need to apply it to the stanza that launches the original nodelet manager process. In this case, it is buried inside [velodyne_driver/launch/nodelet_manager.launch](https://github.com/ros-drivers/velodyne/blob/master/velodyne_driver/launch/nodelet_manager.launch#L10), which initially creates the nodelet man

[2015-10-30 15:13] jack-oquin commented on #62
I can reproduce the crash. It happens because of an assert failure in line 298 of rawdata.cc:
[code]
That suggests the presence of a mangled packet.

@PatrickHussey: An assert seems too harsh for that situation. Perhaps we should just skip that block and continue, logging a warning. What do you think?

[2015-10-30 16:02] jack-oquin commented on #62
Substituted the following in place of the ``assert()`` above:
[code]
Running the test again, I get many more warnings like these, but the node does not crash and I can see the point cloud in rviz:
[code]

[2015-10-30 16:13] jack-oquin commented on #62
The previous patch is clearly not a final fix, and I would like to understand better what is going on.

The errors I can see all come in the first six consecutive blocks of a packet. Why not the last six? Why all six? Did the device actually send these packets?

@dwolfe64: can you say more about how these data were collected? Do you have a corresponding PCAP by any chance?  What firmware level are

[2015-10-30 16:23] dwolfe64 commented on #62
@jack-oquin here is the link to the pcap file (https://www.dropbox.com/s/pp2eff482pxroiz/Test%202%202015-10-23-11-26-56_Velodyne-VLP-16-Data.pcap?dl=0). I recorded this file as our DJI S1000 was landing (it is only a few seconds long of data). I have the VLP16 hooked up to our UAV platform and I was using Ubiquiti wifi radios to stream our data from the sensor to our base station which was recordi

[2015-10-30 16:38] jack-oquin commented on #61
For the record, the [VLP-16 Users Manual](http://velodynelidar.com/docs/manuals/VLP-16%20User%20Manual%20and%20Programming%20Guide%2063-9243%20Rev%20A.pdf) states on page 10 that: "Points with distances less than one meter should be ignored."

Since we really need that extra check that Patrick provided to yield shorter ranges for indoor use, I would like to know Velodyne's official recommendation

[2015-10-30 16:40] jack-oquin commented on #62
Thanks!

[2015-10-31 01:28] nxydes commented on #63
@jack-oquin

We observed that the `error: [Errno 111] Connection refused` only happens if we kill the velodyne nodelet manager process while another communicating process (driver or pointcloud) is still alive.

When this happens it appears to cause that first Connection Refused error which we believe indicates the problem exists with the nodelet manager itself and not with the pointcloud to lasers

[2015-10-31 01:37] jack-oquin commented on #62
The PCAP does contain port 8308 position packets interspersed with the data packets, but the driver should only be reading port 2368. If they were somehow getting published as /velodyne_packets messages, that might explain the error we are seeing.

Was the bag file produced by running velodyne_driver on that PCAP?

[2015-10-31 01:44] jack-oquin commented on #63
As an experiment, you may want to try applying this temporary patch used to identify an assert failure in issue #62. It would be interesting to know if that stops your system from crashing. If it does, you will probably see lots warning messages.
[code]

[2015-10-31 02:09] nxydes commented on #63
@jack-oquin

So we apparently did successfully obtain core dumps. Please find them at this link here which has access for 30 days:

https://www.dropbox.com/sh/5hu6bk0cqsouq9p/AAApR9Ltm6TDLonqjWLWOA-pa?dl=0

We are working through how to run the gdb analysis on this but figured you would like access in parallel. Within the shared folder I have included the launch file and configuration we used to o

[2015-10-31 05:45] dwolfe64 commented on #62
Yes velodyne_driver was used to convert pcap to bag

[2015-10-31 05:47] dwolfe64 commented on #62
I followed the steps you outlined here: http://answers.ros.org/question/213080/convert-raw-velodyne-vlp16-pcap-to-bagfile/

[2015-10-31 15:17] PatrickHussey commented on #62
You can filter the pcap file for packets only received on port 2368 with wireshark and it should solve your problem. I've run into the same thing and solved it this way.

On Oct 31, 2015, at 1:45 AM, dwolfe64 <notifications@github.com<mailto:notifications@github.com>> wrote:

Yes velodyne_driver was used to convert pcap to bag

—
Reply to this email directly or view it on GitHub<http://cp.mcafee.c

[2015-10-31 21:49] jack-oquin commented on #62
The PCAP reader in input.cc should be filtering those other packets, just as the actual driver does. Apparently, that is not working. The original HDL-64E for which this driver was written did not produce those packets. I guess we never noticed.

I'll take a look at it. I can use the PCAP @dwolfe64 provided to test my fix.

[2015-10-31 22:37] jack-oquin commented on #63
When I run this, I can't see any of the symbols, because things are in different locations on my system.
[code]
We really need to run gdb on the same system that generated the core file, preferably with ``thread all apply bt``, although a simple ``bt`` is probably adequate.

The fact that it terminated with SIGABRT is consistent with the possibility of the assert in input.cc getting triggered for

[2015-11-01 02:21] konduri commented on #63
I've run ```gdb /opt/ros/indigo/lib/nodelet/nodelet core.23640``` and the following is the result of ```bt```

[code]
Is the information above sufficient to figure out what the issue is?

I will be making the edit that you asked and run the driver again to see if that changes things. I could alternatively catkin_make with ```catkin_make -DCMAKE_BUILD_TYPE=Debug``` option which should set the ```-g

[2015-11-01 03:16] jack-oquin commented on #63
Yes. The assertion in frame 3 is the same one that caused the crash in #62. The temporary patch above should remove that crash, which comes from non-data packets somehow getting mixed in with the port 2368 data. One way that happens appears to be a bug in the PCAP reader, but there may be other causes, too.

We will definitely remove that assert(), but I am not yet sure what the best recovery is w

[2015-11-01 17:33] jack-oquin commented on #62
The InputPCAP class definitely does *not* check the UDP port, only the IP address. That needs to be fixed as part of this issue.

[2015-11-01 18:09] jack-oquin commented on #62
Before fixing InputPCAP, I want to find a good resolution to the ``assert()`` problem.

My current thinking is for ``unpack_vlp16()``  to skip the remainder of any packet containing a data block without UPPER_BANK in the header. The rationale is that it is either an irrelevant packet (like the position packet in this issue), or the data from the device have somehow gotten corrupted. In either case

[2015-11-01 19:33] jack-oquin opened #64 "make driver portable to big-endian machines"
There are several places, mostly in unpacking raw data, where little-endian data access is assumed.

Eliminating those dependencies does not look difficult, but I only plan to do that work if someone with a big-endian platform actually requests it. Otherwise, it would not get adequate testing, so why bother?

[2015-11-01 19:39] konduri commented on #62
@jack-oquin  I'm for the idea of skipping the reminder of the packet. I am however curious to see if the unclean data case is a recoverable issue or if it persists. I can put this patch and check if the ros warns stop in the logs over time. can you or @dwolfe64  do anything similar and get that confirmed? If the unclean data issue persists, we might have to fix the root cause.

[2015-11-01 20:08] jack-oquin commented on #62
I created a separate ``vlp16_fixes`` branch for working on these issues. I recommend using that as a base for further testing.

It currently has an improved version of the assert patch, see 70a8fae, which only warns of bad packets at most once a minute, so as not to fill up your log with warnings. Hopefully, that will be adequate. Let me know if you think of a better approach.

We should add a bad

[2015-11-02 19:08] konduri commented on #63
@jack-oquin  For info, will be putting in the patch and posting the results here.

[2015-11-02 22:22] jack-oquin commented on #63
I created a separate ``vlp16_fixes`` branch for working on these issues. I recommend using that as a base for further testing, instead of the patch above.

It only warns of bad packets at most once a minute, so as not to fill up your log with warnings.

[2015-11-03 01:06] nxydes commented on #63
Jack, I wanted to get some wireshark logs of the data during a crash before implementing the fix. As it is I pinpointed that a crash happened somewhere at the end of these two pcap files which I uploaded to the same dropbox folder (Currently uploading, should be about 15 mins):

https://www.dropbox.com/sh/5hu6bk0cqsouq9p/AAApR9Ltm6TDLonqjWLWOA-pa?dl=0

I know the crash happens either at the end of

[2015-11-03 01:29] nxydes commented on #63
By comparing our rosbag data with the tshark data, I am 90% sure I found the packet that crashed the drivers:

![image](https://cloud.githubusercontent.com/assets/15384739/10899157/cc42b90c-8186-11e5-90f0-3f015ca27994.png)

103932	115.718506000	192.168.1.201	255.255.255.255	UDP	1152	Source port: opentable  Destination port: opentable [BAD UDP LENGTH 1214 > IP PAYLOAD LENGTH]

This is in the file v

[2015-11-03 03:37] jack-oquin commented on #63
Thanks, @nxydes, that's a big help. I'll take a closer look tomorrow and see if the driver needs some more defensive code for truncated packets.

[2015-11-03 16:43] jack-oquin commented on #63
While ``InputSocket::getPacket()`` is carefully checks for a correct packet size from the device, there is no similar defensive code in ``InputPCAP::getPacket()``.

The PCAP reader was originally just a testing aid, so it is not check the input as carefully as it should.

[2015-11-03 17:36] jack-oquin commented on #63
@nxydes: I can see the truncated frame 103932 you noticed. It contains valid-looking port 2368 data, except that the length in the UDP header (1214) is different from the payload size (1118), leaving approximately one data block missing at the end.

The socket driver *should* [skip packets like that](https://github.com/ros-drivers/velodyne/blob/master/velodyne_driver/src/lib/input.cc#L164), but th

[2015-11-03 17:46] nxydes commented on #63
Jack, it seems likely I got the timing off. It is hard to compare two sets of data with different start times at that precision. I was hoping I was withing 2 seconds or so and I was hoping that packet had a header issue.

Regardless, our testing continues. I enabled debug with catkin_make -DCMAKE_BUILD_TYPE=Debug to hopefully gain more knowledge about what is happening. We re-enabled your temporar

[2015-11-03 19:10] jack-oquin commented on #63
Sounds good, Nick.

While I expect the driver to skip truncated packets, there are no explicit test cases for that situation, and there could still be undetected bugs. If there is another core dump, we should learn something from it.

[2015-11-03 21:17] nxydes commented on #63
So far we have not had a crash on the troublesome unit after the fix, however, it really will take many hours to confirm.

I do have a question about your implementation though. When you do the check of the header at line 300:

`      if (UPPER_BANK != raw->blocks[block].header) {`

What exactly is this checking? Are you checking for a ff:ee: which is at the start of each velodyne data block: http

[2015-11-03 21:35] jlblancoc commented on #64
We plan to test a VLP16 under an ARM platform (Debian armhf). I **think** most ARM platforms are already little endian nowadays, so the extra work should not be justified.
In any case, what are the chances of using a Velodyne sensor in a big endian system? How many people use a MIPS?

BTW: we could provide feedback on armhf if that is helpful.

[2015-11-03 23:30] jack-oquin commented on #63
[Upper bank is 0xeeff](https://github.com/ros-drivers/velodyne/blob/master/velodyne_pointcloud/include/velodyne_pointcloud/rawdata.h#L58), which is the little-endian two-byte representation of the header field.

Ideally, that should use some kind of byte-reversal interface like ``ntohs()``, as documented in #64, but the driver is not currently portable to big-endian platforms, and I don't plan to

[2015-11-03 23:33] jack-oquin commented on #64
Feedback on ARM would be great.

It should be relatively simple to make it portable to big-endian, as long as we have a reasonable test platform for it.

[2015-11-04 02:50] nxydes commented on #63
Thanks for the explanation Jack. I ask because I see in all of the truncated or incorrectly sized UDP packets, there are either extra readings or less readings than 100 between 0xffee tags. This causes future 0xffee tags to be incorrectly located.

Some good news on our front, we had 2 machines acting up last night, put the patch on them both and haven't had another failure since. We now have it o

[2015-11-04 17:36] jack-oquin commented on #61
@PatrickHussey: I tried to duplicate the logic of your short-range intensity modification, but it's not working with my device. I still see no points closer than about a meter.

Perhaps I just made some silly coding error. I did not use your exact code.

I pushed that modification to a separate ``short_range_vlp16`` branch. Maybe you can take a look and help me figure out what went wrong. The comm

[2015-11-04 17:53] nxydes commented on #63
Jack we did have 1 drivers crash last night. However, it did not have the same signature as the previous many crashes leading me to believe it was not caused by the same error. Unfortunately, it also didn't produce a core dump file.

This crash was weird because the nodelet manager was still showing up in rosnode list, but was unpingable and none of the related processes existed in a ps aux. After

[2015-11-04 19:44] PatrickHussey commented on #61
The min_range changes allowed additional points to come in, the intensity gate was to exclude ones that were reported erroneously with the opened up range.

We tested by physically measuring the distance to the tip of an object from the sensor, and then slowly decreasing the distance to the object until we saw points that get "reflected back"

I won't have much time in the next couple weeks but I'

[2015-11-04 19:53] jack-oquin commented on #61
I already had the min_range change. That parameter was set to 0.4m. I can verify that setting using ``rosparam get``.

I tested it by moving a whiteboard closer until the middle points started disappearing, then measuring the distance with a meter stick. That happens at a little under one meter.

[2015-11-04 19:57] jack-oquin commented on #61
What firmware version are you using? Mine seems to be 3.0.27.0, which appears to be the most recent available.

[2015-11-04 20:14] jack-oquin commented on #63
Thanks for testing, @nxydes.

If you found yet another, different bug, please open a new issue for it. I really want to get this driver working reliably.

[2015-11-04 20:17] PatrickHussey commented on #61
not sure I would need to check, we got the ones we have came very early on

[2015-11-04 20:20] jack-oquin commented on #61
I verified it by going to the web config interface (192.1689.1.201) and checking the "info" tab.

[2015-11-05 19:08] nxydes commented on #63
@jack-oquin

I am happy to report that it seems to be working for us. This is from the troublesome unit:

[code]

"Was ulimit -c unlimited set in your shell, but still no core dump?"

Not sure, we think we may have launched the node improperly. If that issue comes up again we will open a ticket.

[2015-11-09 19:12] nxydes commented on #63
@jack-oquin  After the last week of testing we consider this fix to be stable and are merging it into our master branches. Thank you again for your prompt assistance! I will be sure to open new tickets if I can track down any other issues.

[2015-11-09 19:12] #63 closed

[2015-11-09 19:13] konduri commented on #63
Yeah, Thanks a lot guys!!

[2015-11-11 21:06] jack-oquin commented on #59
Version 1.2.0 was released to Indigo in August, 2014. I want to keep that distro stable, yet release some major new features like VLP-16 support, because Indigo is a long-term support distribution. That needs to be done carefully to avoid affecting existing users while still supporting the new hardware.

Other changes can be released to Jade as a new version 1.3.0. Those features would be tested o

[2015-11-11 21:23] jack-oquin commented on #62
Commit 70a8fae is now merged into the ``master`` branch.

[2015-11-11 21:29] jack-oquin commented on #59
I am using the github milestones feature to mark which issues I intend to release to Indigo, or only to Jade.

Some of those determinations are merely my personal judgement of the possible risk balanced with the value of providing that change in the long-term release distribution.

Anyone needing some feature marked with a Jade milestone released to Indigo should make a remark to that effect in th

[2015-11-11 21:45] jack-oquin commented on #61
@PatrickHussey: Because Indigo is a long-term support distribution, I want to fix this issue in that distro without affecting existing users of other device models. Since VLP-16 support is new (thanks to you) but not yet released, it looks OK to make fixes affecting only that model.

But, we should not change the semantics of minimum and maximum intensity for other models in a way that would affec

[2015-11-11 22:16] jack-oquin commented on #30
Also, the GPS is optional on some device models. When missing, the time stamp field contains microseconds since power-up using the device's internal clock. That is not particularly useful to publish.

[2015-11-11 22:21] jack-oquin commented on #30
I am closing this now, since the misleading HDL-64E comments have been removed from the header, and we have no clear proposal for how to support the full time stamp it across the various device models.

There is a more concrete proposal to publish GPS time based on the port 8308 position packets provided by some device models.

If you believe there is a good way forward using the time stamps, plea

[2015-11-11 22:21] #30 closed

[2015-11-11 22:30] jack-oquin commented on #56
I've read more about this device, and I think it's probably OK to turn on Dual return mode. The point cloud will have more points, and there is currently no way to distinguish which are strongest echo and which are last echo. But, the data can be represented in the cloud.

[2015-11-12 03:30] PatrickHussey commented on #61
Sounds reasonable to me. In the version I contributed to the VLP-16 data gets parsed by a separate function from the other velodyne sensors for that very reason. I didn't want to disrupt what was already being used.

I'm not sure what has changed since then as I've been working off that branch from almost a year ago on VLP-16 specifically. But if the driver still has a separate function for genera

[2015-11-13 16:27] jack-oquin opened #66 "velodyne_driver: use port number when reading PCAP data"
When the UDP port was added to ``InputSocket``, ``InputPCAP`` was overlooked.

That causes bugs when the PCAP contains packets for other ports, such as port 8308 position packets.

While fixing this, I also want to export those classes from velodyne_driver, so they can be used for handling position packets, too.

xref: #62

[2015-11-13 16:30] jack-oquin commented on #62
I opened a separate issue to fix the InputPCAP bug discovered here: #66.

[2015-11-13 17:00] jack-oquin commented on #61
It does still have a separate ``unpack_vlp16()``, and I appreciate you doing it that way. It will definitely make things easier for Indigo.

For Jade, we can think about whether we want to factor out some of the code that's common to both types of devices.

[2015-11-16 22:33] dwolfe64 commented on #62
@jack-oquin thank you so much for looking into this. I'm excited to give it a try now.

[2015-11-17 05:55] snehaljain018 commented on #31
I think this issue should be closed, as the bug seems to be solved by correcting the error in formula.

[2015-11-18 20:21] jack-oquin commented on #61
Today, this is working for me in ``master`` with a real VLP-16. I can see points out to about 40cm, which is the configured min_range.

I tried several different commits and branches, trying to figure out why it did not work last week. But, everything since 85228edd84c1f626c020863b77f1dbb4da3f1ea3 seems to work now, including my re-coding of the out-of-range intensity skipping @PatrickHussey sugge

[2015-11-18 20:21] #61 closed

[2015-11-18 20:26] jack-oquin commented on #61
It is interesting to observe that the *intensity* of the close-up points seems *lower* than those at about a one meter or more range. That was observed using a highly reflective white-board. It is the opposite of what I would expect.

[2015-11-18 20:43] jack-oquin commented on #62
I am glad we were able to find and identify this problem. It helped a lot that you provide a PCAP to demonstrate the bug.

I merged the logic for skipping bad packets into master last week. So, I think this issue is solved even without the resolution of the separate problem #66 we also discovered here.

If you find that master works for your tests, let's close this issue and use #66 for the other

[2015-11-19 04:44] dwolfe64 commented on #62
@jack-oquin I just tried it and it works! Thanks again

[2015-11-19 15:33] #62 closed

[2015-12-02 01:55] kmhallen commented on #32
I just made my work in this area available: https://bitbucket.org/DataspeedInc/velodyne_simulator

I think this should stay a separate repository so we don't bring in the gazebo_ros dependency.

I am open to suggestions and pull-requests.

Tested in Indigo and Jade.

[2015-12-02 15:49] jack-oquin commented on #32
That's great, @kmhallen. If you want to maintain it in a separate repository, that's fine with me.

The dependencies are not much of an issue, because users only need to install the packages they directly depend on, not the whole repository.

@mikepurvis, @bmagyar: Should we close this issue once velodyne_simulator gets released?

[2015-12-02 20:48] bmagyar commented on #32
Hi guys, sorry for the huge delay... I changed work and country again :)

I took a look at your solution. It looks good, but I didn't dig deep.

My first attempt btw was a model plugin that would spin a hokuyo fast enough to give the readings of a VLP16 but then I realized that numerically I'm over the rate of Gazebo :)

Why did you implement your own plugin? I got away by using the block laser pl

[2015-12-02 21:29] kmhallen commented on #32
The goal with the plugin was to generate data as closely to the velodyne_pointcloud package as possible.

Some changes from the block laser plugin

* Changed PointCloud to PointCloud2 with x, y, z, intensity, and ring
* Ranges greater than max were set to max. Now invalid ranges are skipped.
* Support changes to gazebo from indigo to jade (z orientation)
* Separate min and max ranges for gazebo ra

[2015-12-02 23:15] jack-oquin commented on #32
According to REP-117, ranges greater than max should be set to +infinity.

[2016-01-15 21:06] DavidB-CMU opened #69 "velodyne_pointcloud fails to compile with ROS indigo - VelodyneConfigConfig.h not found"
I'm trying to compile the latest `velodyne` stack from source so I can try the VLP-16.
The package `velodyne_pointcloud` fails to compile because the `VelodyneConfigConfig.h` file is not generated and then can't be found:

[code]

Thanks in advance.

[code]

[2016-01-15 21:29] DavidB-CMU commented on #69
Solved, same solution as here:
http://answers.ros.org/question/195512/generate_dynamic_reconfigure_options-stopped-generating-h-files/

There was a problem with line-ending characters in the `velodyne_pointcloud/cfg/VelodyneConfig.cfg` file.
The solution:

and then catkin_make was successful.

[2016-01-15 21:32] trainman419 commented on #69
This is a valid bug, and should ld be fixed in the source.

[2016-01-15 22:51] jack-oquin commented on #69
I agree. Thanks for the report.

[2016-01-20 14:55] won13y opened #70 "Does this ROS packages(velodyne) works for VLP-16?"
I bought VLP-16 recently.

I am about to test it with velodyne driver as this github provides.

I have a question: Does this ROS packages(velodyne) works for VLP-16??

[2016-01-20 15:02] jlblancoc commented on #70
Yes it does. Try the launch file named vlp16.

-----
Escrito desde Zapatófono, disculpe la brevedad.

[2016-01-20 15:05] jack-oquin commented on #70
Note that you still need to build it from source.

Binary releases for Indigo and Jade are still pending. Some time soon, I hope.

[2016-01-29 09:19] DavidB-CMU opened #71 "Do the VLP-16 axes in Rviz match the axes in the User Manual?"
Do the cartesian axes of the PointCloud from the VLP-16 (as seen in Rviz) match the axes shown in Velodyne's User Manual?
For me it looks to be different.

http://velodynelidar.com/docs/manuals/VLP-16%20User%20Manual%20and%20Programming%20Guide%2063-9243%20Rev%20A.pdf

Here are the x,y,z axes specified in the User Manual:
![vlp-16_axes_from_manual](https://cloud.githubusercontent.com/assets/141897

[2016-01-29 15:38] jack-oquin commented on #71
You are correct: this driver's coordinates do *not* match the diagram in the the VLP-16 manual.

The driver translates points into X, Y, Z coordinates the same way it does for other Velodyne models. It follows the standard ROS coordinate conventions from [REP-0103](http://www.ros.org/reps/rep-0103.html#axis-orientation) for axis orientation, so the X axis points to the "front" of the device.

Is t

[2016-01-29 16:37] DavidB-CMU commented on #71
Ok yes so I'm seeing the correct axes as per the ROS convention for cameras.

I don't mind, software is easy to modify, but it could be useful to add that to the documentation.
Thanks Jack. I can close this ticket.

[2016-01-29 16:37] #71 closed

[2016-01-29 19:46] jack-oquin commented on #71
If you prefer to use the manufacturer's coordinate convention, it's easy to define a TF frame of reference that is 90 degrees to the right of the ``velodyne`` frame of reference.

[2016-02-05 13:38] plepej opened #72 "Velodyne PCAP player "ghosting" problem"
Dear,

this is my first pose so please excuse me any irregularities. I am using velodyne_pointcloud 32e_points.launch with pcap argument to replay data captured by VLP-32E. I am using pierriko code to receive real time stamp, anyway the problem of "ghosting" is the same in any branch. I will try to show this problem in pictures:

![pcap_3](https://cloud.githubusercontent.com/assets/7601772/1284758

[2016-02-09 04:11] kmhallen commented on #32
This will be available in the next sync.
http://wiki.ros.org/velodyne_simulator

[2016-02-09 14:45] jack-oquin commented on #32
Super! Many thanks @kmhallen.

[2016-02-09 14:49] bmagyar commented on #32
:+1:

[2016-02-10 16:59] jack-oquin commented on #32
Closing this, as the problem is solved in the [velodyne_simulator](http://wiki.ros.org/velodyne_simulator) repository by @kmhallen.

Thanks to you all for helping with this.

cc: @piyushk

[2016-02-10 16:59] #32 closed

[2016-02-10 17:09] hongliuuuu commented on #70
@jlblancoc Hi, I lanched the file vlp16, but there is no data pubulished on the topic /velodyne_points, do you know why? Through wireShark, I'm sure the network setting is right, thanks.

[2016-02-11 11:01] jlblancoc commented on #70
I don't know how to help, Hongliu... if you are directly watching the output in RViz, make sure to switch the global tf reference to `velodyne`, otherwise, the 3D view will remain blank even if the sensor and the node are both working ok.

[2016-02-11 13:29] jack-oquin commented on #70
@hongliuuuu: your question can better be answered on answers.ros.org. Be sure to add the ``velodyne`` tag, so the right people see it.

[2016-02-11 13:30] hongliuuuu commented on #70
Thanks a lot, problem solved! Again, thank you very much!

Best wishes,

Léo

2016-02-11 14:29 GMT+01:00 jack-oquin <notifications@github.com>:

[2016-03-01 01:11] yumeng12 commented on #70
I met a similar problem.When I enter "rosrun velodyne_pointcloud gen_calibration.py32db.xml",,the screen display
'converting "32db.xml" to "32db.yaml"
gen_calibration.py: unable to read 32db.xml'.
I know that "32db.xml" is not correct file,but I can't find correct file.Then I find a similar file in VLP-16 datas.However,the problem still exists .I lanched the file vlp16, but there is no data pubuli

[2016-03-01 01:56] jack-oquin commented on #70
@yumeng12: this issue is about the VLP-16.

If you have a question about the HD-32E, please ask on answers.ros.org with tag ``velodyne``. I will try to answer it.

[2016-03-04 23:44] #70 closed

[2016-03-04 23:52] jack-oquin commented on #48
The fix in #42 has been merged. Please re-open if it did not solve this problem.

[2016-03-04 23:52] #48 closed

[2016-03-04 23:55] jack-oquin commented on #59
Looking through the open issues, there are several (#21, #31, and #50) saying that the calculation of XYZ points is not correct. We need to carefully review all of them and figure out the best solution, then decide whether it should be released in Indigo or only Jade (probably both).

[2016-03-07 06:25] selitvin opened #79 "Error in min/max intensity values in gen_calibration.py converting from xml to yaml"
For the case where first non zero minIntensity_ value appears in the middle of the list, it will be errornously placed as the minIntensity of the first laser in the array. For example:
[code]
The yaml-file will have 10 as the attribute of laser 0 and not 2.

This is happening because the script calls addLaserCalibration(index, ...). If the calibration dictionary is still empty, the value is append

[2016-03-12 01:39] jack-oquin commented on #45
Fixed in #80

[2016-03-12 02:38] jack-oquin commented on #79
Thanks for the report.

Do you have a test case that demonstrates the bug? Have you experimented with any fixes?

[2016-03-12 06:53] selitvin commented on #79
I was writing a similar code and then comparing my calibration data in yaml
vs the my data in xml and saw the difference. I don't have a code example I
could share at the moment.

On Fri, Mar 11, 2016 at 6:38 PM, jack-oquin <notifications@github.com>
wrote:

[2016-03-12 17:07] jack-oquin commented on #45
OK, it's fixed now.

Please test and re-open if there is any problem.

[2016-03-12 17:07] #45 closed

[2016-03-12 17:10] jack-oquin commented on #79
Test data with detailed instructions for demonstrating the bug, would be enormously helpful.

[2016-03-13 05:23] selitvin commented on #79
Attached is a tar ball.
Notice, in the xml, minIntensity is 0 for multiple lasers at the beginning
of the list. In yaml, however, the first laser has the minIntensity set to
30. The value of 30 belongs to a laser with index of 30+.

(I ran the xml->yaml conversion:

python gen_calibration.py calib.xml)

Regards,

- Yevgeni

On Sat, Mar 12, 2016 at 9:11 AM, jack-oquin <notifications@github.com>
wro

[2016-03-13 17:24] jack-oquin commented on #79
The attachment did not make it through the github message system.

Could you send it directly to me: ``jack.oquin at gmail.com``?

[2016-03-15 13:46] srirambadri opened #83 "Velodyne pointcloud node for HDL 32 doesn't seem to run?"
I have a HDL 32 and a VLP 16. So when I try to run the roslaunch or the pointcloud node I get the following error?

$ rosrun velodyne_pointcloud cloud_node _calibration:=32db.yaml
[ INFO] [1458049427.031892132]: correction angles: 32db.yaml
YAML Exception: yaml-cpp: error at line 0, column 0: bad conversion
[ERROR] [1458049427.036928149]: Unable to open calibration file: 32db.yaml
[ INFO] [1458049

[2016-03-16 09:00] onlytailei opened #84 "Unable to open calibration file VLP16db.yaml"
Unable to open calibration file: /home/tyler/catkin_ws/src/velodyne/velodyne_pointcloud/params/VLP16db.yaml

That's why?

[2016-03-16 09:28] srirambadri commented on #84
I had the same problem with the HDL32db.yaml file

[2016-03-16 09:30] onlytailei commented on #84
By the way, I use ubuntu 14.04 and ros indigo

[2016-03-16 12:22] onlytailei commented on #84
@srirambadri
Hi, I tried to install this pkg in Ubuntu 12.04 with Ros Hydro. Fortunately, it worked. So I guess it should be the problem of yaml-cpp version.

[2016-03-16 13:10] srirambadri commented on #84
@onlytailei
hi,
thanks.

[2016-03-16 13:11] srirambadri opened #85 "Connect two HDL 32e together"
Hey,

I have two HDL 32e velodyne laser scanners and I connected them using a switch to my computer.

I ran the velodyne package and I'm getting the pointcloud.

The problem is both the pointclouds of the different HDL's are getting combined.

Is there a possibility to seperate the pointclouds?

[2016-03-18 21:04] jack-oquin commented on #83
Where is your calibration file? Is there a ``32db.yaml`` in the directory from which you are running the cloud node?

[2016-03-18 21:07] jack-oquin commented on #84
What is the question? Is this a bug report?

If so, what did you do, and what went wrong?

[2016-03-18 21:09] jack-oquin commented on #85
As already answered on answers.ros.org, you can use the ``device_ip`` parameter.

Did that solve your problem?

[2016-03-18 22:15] jack-oquin commented on #69
I don't see any DOS line-ending characters in my clone.

Any idea how they got there?

[2016-03-18 22:53] DavidB-CMU commented on #69
Hi Jack, I'm thinking now that it was probably an issue with the computer I was using, or when transferring some files.
We can probably close this issue.
Thanks.

[2016-03-19 02:36] jack-oquin commented on #69
OK with me. If someone can reproduce the issue with a fresh clone, please re-open this.

[2016-03-19 02:36] #69 closed

[2016-03-19 16:19] jack-oquin commented on #84
OK, this is a bug, and I can reproduce it. It was apparently caused by some recent updates to the YAML file reader.

As a workaround, try checking out commit 79c8d82, which precedes those changes.

[2016-03-19 16:20] jack-oquin commented on #84
Let me know if that version works for you.

[2016-03-19 21:00] jack-oquin commented on #84
xref: #82, #80

[2016-03-20 23:49] jack-oquin commented on #84
@onlytailei and @srirambadri: Please check out the latest master containing fbe603a. I think it should fix your problem.

@wjwwood: Please code review this change. It seems to work again for the 32E, VLP-16 and the older 64E (with integer intensities), but fails to read the 64E_s2.1 calibration (containing float intensities).

[2016-03-21 00:09] andrepfr commented on #84
@jack-oquin: Thanks for the fix. Worked for me with the VLP-16.

[2016-03-21 01:50] onlytailei commented on #84
Thanks! I will check it soon.

[2016-03-21 16:06] jack-oquin commented on #84
@wjwwood: The gtest added by c3e5178 demonstrates the failure of my latest attempt to handle your test case and also the example HDL-64 S2.1 YAML configuration. Both contain float intensities, so my latest fix does not solve your original problem.

I am still looking for a solution that works for both. That would be simpler if we only had to support one yaml-cpp API.

[2016-03-21 19:44] wjwwood commented on #84
Hmm, sorry this change has caused so many issues. @jack-oquin are there unit tests that fail in each configuration? I can pretty easily switch between yaml-cpp 0.3 and yaml-cpp 0.5.

I could also try to change the yaml-cpp rosdep rule for OS X, now that indigo is the oldest supported platform. But the question is which is more work, fixing this problem or changing the rule.

[2016-03-21 20:45] jack-oquin commented on #84
@wjwwood: No worries. Besides, I think I have fixed it now.

YAML has a scalar type, but does not directly distinguish ``float`` from ``int``. So, my solution (9a5d583) is to always read intensities into a ``float``, then convert to the desired ``int``.

That works for me with the 0.5 API. I think it should work with 0.3 as well. Please try it on OSX to verify.

My unit test coverage is adequate f

[2016-03-21 21:37] wjwwood commented on #84
Works for me on master. Thanks @jack-oquin.

[2016-03-21 21:54] jack-oquin commented on #84
@wjwwood: Your change led to several significant improvements for both continuous integration and unit test coverage. And, you fixed a long-standing bug that I had not looked at at all.

I appreciate your contribution.

[2016-03-21 23:17] #84 closed

[2016-03-21 23:24] jack-oquin commented on #83
This looks similar to another recent bug, see #84.

Please report whether the latest master fixes your problem.

[2016-03-22 08:46] srirambadri commented on #83
Hi Jack,

Thanks a lot. Ya the error is fixed now.

[2016-03-22 08:51] srirambadri commented on #85
thanks, I use this to separate the pointclouds

[2016-03-22 16:55] jack-oquin opened #86 "need ROS Jade release"
This will follow the Indigo release mentioned in #59.

After that, we can make some changes that do not seem necessary or desirable for Indigo, which has already been in widespread use for almost two years.

[2016-03-22 17:42] jack-oquin commented on #83
Good. Thanks for verifying it.

[2016-03-22 17:42] #83 closed

[2016-03-22 18:09] jack-oquin commented on #85
Can you suggest where the documentation could be improved to describe that parameter better?

For example, it seems to be missing from the [velodyne_driver wiki page](http://wiki.ros.org/velodyne_driver?distro=indigo#Parameters) parameter list.

[2016-03-22 18:23] srirambadri commented on #85
As suggested in answers.ros.org, I added two parameters to the nodules_manager.launch file namely , device_ip and port.

I then set the parameters in the main launch file i.e., 32 e_points.launch.

[2016-03-23 16:46] chiyuan-goh opened #87 "velodyne_points messages only 3Hz for 600rpm"
Following the Ros tutorial for velodyne 32E, I can only see 3+Hz of messages from roslaunch velodyne_pointcloud 32e_points.launch, but it is set to 600 RPM and I verified it on the firmware builtin diagnostics page.

Any idea?

[2016-03-23 16:59] jack-oquin commented on #87
What is the rate of the packets topic?
[code]

[2016-03-25 08:52] chiyuan-goh commented on #87
Terribly sorry. There's a problem with switch. Once I swapped it out, worked just fine.

[2016-03-25 08:52] #87 closed

[2016-03-25 13:57] jack-oquin commented on #87
No problem. Glad you got it working.

[2016-03-25 14:40] jack-oquin commented on #85
I updated the [parameter documentation](http://wiki.ros.org/velodyne_driver#Parameters). Please review, and let me know whether it seems clear.

[2016-03-25 14:40] #85 closed

[2016-03-25 14:54] srirambadri commented on #85
Perfect. thanks

[2016-04-10 20:56] #31 closed

[2016-04-10 20:58] jack-oquin commented on #21
Is it possible to re-run these tests using the current ``master`` and verify whether corrections in the point coordinate computations have fixed it?

[2016-04-10 21:00] jack-oquin commented on #50
Can you re-run this test and verify whether or not the current ``master`` source fixes your problem?

[2016-04-11 01:26] jack-oquin commented on #72
Do you think this could be related to #15?

That issue has a long discussion, but the basic point is the need to transform successive moving data frames into a non-moving frame of reference, typically ``/odom`` (or perhaps ``/map``).  The [TransformNodelet](http://wiki.ros.org/velodyne_pointcloud#TransformNodelet) is provided for that. It depends on other parts of your system publishing odometry a

[2016-04-11 01:29] jack-oquin commented on #52
This is fixed now in ``master``. Please test to confirm, and re-open if there is still a problem

[2016-04-11 01:29] #52 closed

[2016-04-12 00:04] jack-oquin commented on #66
xref: #46

[2016-04-12 21:29] #2 closed

[2016-04-29 15:13] jack-oquin opened #90 "add new parameter arguments to various launch files"
At least these parameters are missing from some of the launch scripts:

 * port
 * device_ip
 * rpm

There may be others.

Affected scripts include:

 * ``velodyne_driver/launch/nodelet_manager.launch``
 * ``velodyne_pointcloud/launch/VLP16_points.launch``
 * ``velodyne_pointcloud/launch/32e_points.launch``

There are probably others.

See: http://answers.ros.org/question/232949/different-rpmportr

[2016-05-08 19:41] ZepherusFF commented on #90
Hi Jack, Thanks for the answer/opening this up.

I think I'm gonna need more details x)

Should I setup my launch file like this :
<launch>

  <arg name="pcap" default="" />
  <arg name="calibration" default="$(find velodyne_pointcloud)/params/VLP16db.yaml"/>
  <arg name="min_range" default="0.4" />
  <arg name="max_range" default="130.0" />

  <include file="$(find velodyne_driver)/launch/nodelet

[2016-05-09 20:45] jack-oquin commented on #90
That does not look exactly right.

The args have to be declared first and them passed to the appropriate nodes as params, or include files as arguments.

see: http://wiki.ros.org/roslaunch/XML/arg

[2016-05-09 20:45] jack-oquin commented on #90
You can go ahead and submit a pull request and we can discuss the details there.

[2016-05-23 08:42] ZepherusFF commented on #90
Hi jack, sorry for the late reply, I've been swamped...

Do we want them to be passed as arguments ? In that case I need to define them before the <--! start nodelet --> part if I understand correctly.

[2016-05-23 12:42] jack-oquin commented on #90
No problem. I've been swamped, too.

Yes, I think we want to add at least ``port``, ``device_id`` and ``rpm`` as launch file arguments, passing them through to nodes and embedded launch scripts as needed.

[2016-06-09 21:06] jack-oquin commented on #72
If there is no response regarding this issue, it should be closed.

[2016-06-09 21:07] jack-oquin commented on #50
Closing since there was no response.

[2016-06-09 21:07] #50 closed

[2016-06-09 21:07] jack-oquin commented on #21
Closing, since there has been no response.

[2016-06-09 21:07] #21 closed

[2016-06-12 07:46] #72 closed

[2016-06-15 16:29] jack-oquin opened #93 "Kinetic release needed"
Since Ubuntu Xenial is not supported by either Indigo or Jade, we need a Kinetic release.

See: http://answers.ros.org/question/236814/velodyne-package-for-ubuntu-1604-lts/

[2016-06-16 00:07] jack-oquin commented on #93
For anyone needing to run on Xenial and Kinetic: the current source ``master`` compiles and passes its unit tests on that system.

[2016-06-16 00:09] jack-oquin commented on #86
Since this is not a long-term distribution and no one has requested it (yet), this is lower-priority than #93.

[2016-06-16 02:26] jack-oquin commented on #66
The basic problem has now been fixed, but without exporting to other packages.

That is sufficient for now. The export can be added when some other package is ready to use it.

[2016-06-16 02:26] #66 closed

[2016-06-22 10:51] TobiasCy commented on #26
Is the external Project public? I would like to test this approach.

[2016-06-22 16:16] jack-oquin commented on #26
I doubt it, but you'd need to contact @Gariben to find out.

[2016-06-23 11:29] Bobrip opened #95 "Published PointCloud is not organized"
rawdata.unpack() sets the height of the pointcloud to 1 writing all points into one row.

It would be useful for a few applications to organize the data at that level to set height = calibration.num_lasers and assign the points to the corresponding row and column.

This doesn't add any computation time or storage space but allows for easy access for neighborhood relations in the cloud.

[2016-06-23 12:01] Bobrip commented on #95
I just saw there is a pull-request referencing this specific feature: #65

In it you say

Could you explain which devices wouldn't and why?

[2016-06-23 14:51] jack-oquin commented on #95
The early 64E models, for example, have more packets for some lasers than for others.

It's all useless if the device is in motion, anyway.

[2016-06-24 19:12] tonybaltovski commented on #59
A release that supports the VLP-16 would be great.  The current master works great with it.

[2016-08-03 15:15] elinorapricot opened #99 "Matlab sample code to read calibration data in Users Manual is full of misspelling and errors"
There is a Matlab sample code in 63-HDL64ES2h HDL-64E S2 CD Users Manual.pdf on pages 20-22, there are a lots of sintax error regarding of misspelling commands and variable names in that, which would not be there, if the person, who wrote that code compiled that at least one time...

I am a C++ developer, who had never learnt Matlab, before this issue, I wanted to translate your matlab code to C++

[2016-08-03 16:44] trainman419 commented on #99
This driver is not maintained or supported by Velodyne; we cannot help you with issues in the manual.

I suggest you contact Velodyne support directly if you have issues with their code.

[2016-08-03 16:46] #99 closed

[2016-08-03 16:54] trainman419 commented on #99
We do have a gen_calibration.py script which can parse the XML calibration file and produce our internal format; perhaps it will be useful as a reference: https://github.com/ros-drivers/velodyne/blob/master/velodyne_pointcloud/scripts/gen_calibration.py

[2016-08-03 22:28] elinorapricot commented on #99
Thank you, for your answer. :)

[2016-08-04 12:38] mxrchn opened #100 "Pointcloud2 data reading with the driver"
hi, jack, I use the driver to read point cloud data with the command: $ rostopic echo / velodyne_points.
But I can't understand the "data" means.   So how to read x, y, z coordinates from these numbers? Thanks!
The attached file is the picture of these numbers. @jack-oquin
![screenshot from 2016-08-04 20-29-34](https://cloud.githubusercontent.com/assets/16284639/17401966/371ec65a-5a83-11e6-9afd-29

[2016-08-04 12:43] mxrchn commented on #100
It's velodyne VLP-16.

[2016-08-04 15:29] jack-oquin commented on #100
That topic publishes ``sensor_msgs/PointCloud2`` messages. It's not useful to view them with ``rostopic echo``. You can view the data with rviz:
[code]

* In the "displays" panel, click "Add", then select "Point Cloud2", then press "OK".
* In the "Topic" field of the new "Point Cloud2" tab, enter "/velodyne_points".

[2016-08-04 15:29] #100 closed

[2016-08-04 15:30] jack-oquin commented on #100
Questions like this are better sent to answers.ros.org.

[2016-08-10 12:18] mxrchn opened #102 "Where is the origin of coordinates"
When I read the rawdata.cc file in the driver, it's hard for me to understand where the origin of coordinates is. If the origin of coordinates is unclear, the calibration and final PointCloud2 published may be inaccurate. Below is the several lines of code in rawdata.cc. So can you tell me where  the origin of coordinates is, the geometric centre of subface or inside the VLP-16?
Thank you in advan

[2016-08-10 12:23] jlblancoc commented on #102
The reference frame for the read point clouds, it's **inside** the Velodyne
cylinder, approximately at the middle point of the cylinder.

[2016-08-10 15:56] jack-oquin commented on #102
Yes, that's where you should define the ``velodyne``  frame of reference, relative to your vehicle base.

[2016-08-11 01:51] mxrchn commented on #102
Is the origin of coordinates in the same height of the optical centre? [37.7]/1.485?
![centre](https://cloud.githubusercontent.com/assets/16284639/17576783/31e5d220-5fa9-11e6-8d0c-9228eca78b92.png)

[2016-08-11 08:50] jlblancoc commented on #102
I think that's correct, that is the **nominal** origin of coordinates. There is a set of calibration parameters to introduce some offsets wrt that point, though.

[2016-08-11 18:42] chukcha2 commented on #102
VLP-16 manual, on page 48 has more details on this but I don't completely understand it yet. Note this line "APPLY VERTICAL CORRECTION FOR GREATEST ACCURACY".

![vlpdrawing](https://cloud.githubusercontent.com/assets/8009504/17600443/868f2dd0-5fd1-11e6-810c-31fd48b70e16.png)

[2016-08-22 06:13] chiyuan-goh opened #106 "Different results when playing back from rosbag"
I'm having some difficulties when recording and playing back `velodyne_packets` from rosbag.

Supposedly, I used `roslaunch velodyne_pointcloud 64e_points.launch calibration:=foo.yaml` to start the driver. When visualizing the point cloud online in rviz, this is shown to work as expected. However, when playing back `/velodyne_packets` from the rosbag and running `rosrun velodyne_pointcloud cloud_n

[2016-08-22 08:08] jmlago91 commented on #106
When you use `roslaunch velodyne_pointcloud 64e_points.launch calibration:=foo.yaml` you are configuring the driver with the parameters in the .launch file.

However when you execute `rosrun velodyne_pointcloud cloud_node _calibration:=foo.yaml` the node is executing cleanly without a full configuration. Use a .launch file or provide parameters in the terminal (like you are doing with `_calibratio

[2016-08-26 14:45] televator commented on #93
Will the fact that the master branch works for kinetic eventually lead to a new release?

[2016-08-26 21:26] jack-oquin commented on #93
Not immediately, but it certainly helps.

[2016-08-26 22:42] jack-oquin commented on #90
This is fixed now, thanks to PR #104 from @altrouge.

[2016-08-26 22:42] #90 closed

[2016-09-21 17:04] jack-oquin commented on #106
Did @jmlago91 answer your question?

If so, please close it.

[2016-09-29 03:20] zhixy opened #107 "devip_ of InputSocket is not been assigned"
I try to use two velodyne together, so I need to specify ip address, however, I find it doesn't work when I change it in .launch file. I checked the source, and found that there is no assignment to devip_ at all, after  I add "inet_aton(devip_str_.c_str(), &devip_);" in Constructor of InputSocket, it works.

[2016-09-29 09:29] B-Leslie commented on #102
@chukcha2 , I believe each beam has its own detector, and the detectors are arranged in a vertical array. The beams are therefore focused on to different points inside the scanner, and so a small vertical offset corresponding to these different focal points (as specified on the RHS of the diagram on p. 48) should be applied to scan points based on the beam ID.

[2016-10-05 02:28] jack-oquin commented on #107
Would you like to provide a pull request to fix this?

[2016-10-05 04:42] zhixy commented on #107
Of course, but I found that the first pull request upload by teosnare is just to solve this issue before I want to upload my pull request, so I think I don't need to do it any more.

[2016-10-06 19:26] jack-oquin commented on #107
Merged #101, please close this if that fixes it.

[2016-10-07 02:10] zhixy commented on #107
yes, thx

[2016-10-07 02:10] #107 closed

[2016-10-07 09:22] JeongJae0815 opened #108 "How to use two VLP16( velodyne) with just one computer at a same time"
Hey,

I have two VPL16 velodyne laser scanners and I connected using a switch to my computer.

I fixed first VPL 16's IP to 192.168.1.201 and second VPL's IP to 192.168.1.202 using Web GUI

and then I ran the velodyne package; roslaunch velodyne_pointcloud VLP16_points2_2.launch

here is the code of VLP16_points2_2.launch

[code]

However, I just can get only one topic which has combined data of t

[2016-10-08 16:15] jack-oquin commented on #108
I believe there is a bug in ``velodyne_driver/launch/nodelet_manager.launch``: it unconditionally creates the nodelet manager process with the fixed name ``velodyne_nodelet_manager``.

What it should do is create ``$(arg frame_id)_nodelet_manager``. Then they'll have different names if they have different TF frame IDs (which they must, anyway).

[2016-10-09 05:48] JeongJae0815 commented on #108
I really appreciate your kind.
I saw the codes that you fixed :)
I modified my source as you saying
please refer to [VLP16_points_multi.launch](https://github.com/JeongJae0815/Multi_Velodyne/tree/master/velodyne/velodyne_pointcloud/launch)
Is there nothing what I gotta do to use two velodynes?
Actually I'm in ROSCON, so I couldn't check that the code works.
Thank you in advance

[2016-10-09 05:51] JeongJae0815 commented on #108
By the way, should I change <arg name="model" default="64E /> to <arg name="model" default="VLP16" />  in velodyne_driver/launch/nodelet_manager.launch
Actually I did, but I just wanna know whether it is right or not.

[2016-10-09 16:25] jack-oquin commented on #108
Yes, you need to use the correct model parameter. You can use the ``VLP16_points.launch`` script, which sets it for you..

[This new test script](https://github.com/ros-drivers/velodyne/blob/ed6e94be662e4591a41de68d5bb8d78df80e9038/velodyne_pointcloud/tests/two_nodelet_managers.test) is an example of what you can do (ignore the ``<test>`` stanzas). Although that test passes, it does not prove that

[2016-10-09 16:28] jack-oquin commented on #108
Please post a comment here when you get a chance to test this fix, whatever the results.

[2016-10-09 17:18] JeongJae0815 commented on #108
Of course, I'll let you know the reaults. Maybe 8 hours later
Let's keep in touch!

2016. 10. 10. 오전 1:28에 "jack-oquin" <notifications@github.com>님이 작성:

[2016-10-10 04:49] JeongJae0815 commented on #108
I can't build a code that you uploaded. there is error.
I'm debugging..

[2016-10-10 06:32] JeongJae0815 commented on #108
okay, Let me tell you something.
First, I excuted "rostest velodyne_pointcloud two_nodelet_manager.test", but the result is just 'failure'
so, I maede two new lauch files which are [VLP16_points1.launch](https://github.com/JeongJae0815/New_Velodyne/tree/master/velodyne/velodyne_pointcloud/launch), [VLP16_points2.launch](https://github.com/JeongJae0815/New_Velodyne/tree/master/velodyne/velodyne_poi

[2016-10-10 15:32] jack-oquin commented on #108
The test name as an "s" before the dot. This works for me:
[code]

I can also launch it with ``roslaunch`` and observe the two output topics.

However, those unit tests depend on having previously run ``make tests`` to download the required PCAP files. Maybe that's your problem.

[2016-10-10 15:34] jack-oquin commented on #108
when I excute each of them separately, It gives me correct data each of them. I mean I can get not combined data with another
However, when I excute both of files at a same, the result just gives me only one data which started executing before another VLP16, and I can see "bind: Address already in use"

I wonder if we need to specify a different port number for the second device?

I lack access to

[2016-10-10 15:38] trainman419 commented on #108
When I've worked with multiple VLP-16s in the past, I've needed to specify a separate port number for each sensor. If both sensors use the the same port, a process listening on that port will receive all packets from both sensors.

[2016-10-10 15:40] jack-oquin commented on #108
Thanks @trainman419, that's what I suspected!

[2016-10-10 15:43] jack-oquin commented on #108
This is complicated enough to need a tutorial explaining how to do it.

[2016-10-12 09:41] spuetz commented on #95
Hi, is there a project going on with respect to the organization of the point clouds? Otherwise, I would build a version on top of the current master version, which is suitable for all velodyne scanners.

[2016-10-12 09:58] spuetz commented on #95
@fudger Are you still interested in building one general point cloud organization version for all scanners?

[2016-10-12 12:14] ksatyaki commented on #93
Are there any troubles releasing it for kinetic? I could help if that's the case.

[2016-10-12 13:02] fudger commented on #95
Yes, I am still interested.

But I think it would be a good idea to make the efforts to organize the point clouds part of the general revision of the driver architecture, which was already discussed in https://github.com/ros-drivers/velodyne/pull/75#issuecomment-248692827.

Due to the complexity of the driver, I am convinced that you can only find an optimal architecture by considering all require

[2016-10-13 10:30] ksatyaki commented on #24
Is there any update on this? Has the GPS been interfaced?

[2016-10-13 13:57] ibaranov-cp commented on #24
We ended going with an external, higher quality data source anyway.
The onboard IMU and GPS re-boradcast is not great.
Possibly this is being eliminated in the newer small "puck" velodynes anyway.

[2016-10-13 14:09] PatrickHussey commented on #24
Agreed we ended up standardizing on the VLP-16 which does not have the IMU data, we usually use a MicroStrain 3DM-GX3-35 (or 45) in conjunction with the Velodyne sensors.

Like ibaranov-cp said, the Velodyne inertial sensors are not calibrated and the GPS re-broadcast is pretty limited. Go with a good calibrated inertial sensor and a GPS that doesn't get relayed by the Velodyne.

[2016-10-13 21:49] jack-oquin commented on #93
No, I just want to release the current sources to Indigo, first. Still working on it.

Thanks for the offer to help.

[2016-10-19 05:40] JeongJae0815 commented on #108
I changed my code as you said,so I could see that it works.
I changed port of each velodynes using web, and then changed port number on VLP16.launch file
I Really Thank @jack-oquin for your kind!

[2016-10-19 19:45] jack-oquin commented on #108
Glad it's working now. I am sure others will benefit from your efforts.

[2016-10-27 19:07] fnaser commented on #93
Ubuntu 16.04 and ROS kinetic installed. With the latest master I get this error message:

`CMake Error at /home/fnaser/smartfm/catkin_ws/devel/share/velodyne_driver/cmake/velodyne_driverConfig.cmake:106 (message):
  Project 'velodyne_driver' specifies
  '/home/fnaser/smartfm/catkin_ws/src/velodyne-master/velodyne_driver/include'
  as an include dir, which is not found.  It does neither exist as an

[2016-10-28 14:42] jack-oquin commented on #93
@fnaser: those files exist in my sources, and they do get installed. Any idea what's going on with your workspace?

Would you check out and build a clean version, just to verify?

[2016-11-03 18:02] jack-oquin commented on #108
The fix for this issue fails when the ``frame_id`` contains a slash, as may happen when using ``tf_prefix``.

[2016-11-03 18:03] jack-oquin commented on #102
Is this question answered satisfactorily? If so, please close the issue.

[2016-11-08 21:42] kmhallen commented on #59
Until this is resolved, up-to-date binary packages can be found here:
https://bitbucket.org/DataspeedInc/ros_binaries

[2016-11-08 21:42] kmhallen commented on #93
Until an official release is ready, binary packages can be found here:
https://bitbucket.org/DataspeedInc/ros_binaries

[2016-12-07 11:39] victl opened #109 "Is the 'dual two point calibration' (correctly) used?"
Hi, I've checked the source code 'rawdata.cc' and found the 'dual two point calibration' method documented in the Velodyne HDL-64E S2 Users Manual is embraced by a `if` clause. I have several questions here:

1. the python script that turns the `db.xml` file into YAML file does not generate the entry `two_pt_correction_available`, which means it'll be false whenever we query its value.
2. the rele

[2016-12-08 22:12] jack-oquin commented on #109
Thanks for your bug report. I maintain this package, but I did not write the 64E S2 code, nor do I have access to that device for testing. Its code was contributed many years ago by another user.

It sounds like you know more about that model than I do, so I would accept a pull request that makes the driver work as you think it should.

[2016-12-22 20:12] siyangy commented on #102
A related question: how does the point get transformed from "velodyne" frame to "odom" frame? Didn't find a StampedTransform provided anywhere in this code repo.

[2016-12-23 16:12] jack-oquin commented on #102
It's done here: https://github.com/ros-drivers/velodyne/blob/master/velodyne_pointcloud/src/conversions/transform.cc#L104

[2016-12-23 16:12] #102 closed

[2017-01-01 03:03] andrewraharjo opened #112 "Failed catkin_make Invoking "make -j12 -l12" failed"
I tried to build from the source but I got this error

Built target dynamic_reconfigure_gencfg
[  3%] Built target rosgraph_msgs_generate_messages_lisp
[  3%] Built target _velodyne_msgs_generate_messages_check_deps_VelodynePacket
[  3%] Built target _velodyne_msgs_generate_messages_check_deps_VelodyneScan
make: *** [all] Error 2
Invoking "make -j12 -l12" failed

Does anybody have encountered this

[2017-01-04 15:37] jack-oquin commented on #112
Which version of ROS?

[2017-01-04 17:32] andrewraharjo commented on #112
Indigo

[2017-01-06 15:46] jack-oquin commented on #112
Sorry. I missed that part. I have not seen this problem. It does not fail when running Travis CI with Trusty and Indigo.

* https://travis-ci.org/ros-drivers/velodyne

Must be something wrong with your workspace or your ROS installation.

[2017-01-06 21:38] andrewraharjo commented on #112
Jack,

I'll try to rebuild the catkin_ws and see how it goes. Thanks for pointing out. I'll keep you posted

[2017-01-07 19:52] andrewraharjo commented on #112
@jack-oquin apparently there was an issue with Anaconda. Here's the step I did to resolve this:
1. Delete catkin_ws / start fresh
2. Create new workspace
3. export PYTHONPATH=$PYTHONPATH:/usr/lib/python2.7/dist-packages
4. source ~./bashrc
5. check the import rospkg (this is the reason giving me error)
6. clone the velodyne driver under catkin_ws
7. run the catkin_make

I guess you can close this

[2017-01-09 15:47] jack-oquin commented on #112
No problem, glad it's working now.

[2017-01-09 15:47] #112 closed

[2017-01-11 02:12] rtpavlovsk21 opened #113 "Coordinate System"
In your readme can you make a warning for swapping coordinate systems to the ROS standard? For example if the system is mounted any other way than vertical the [ROS conventions](http://www.ros.org/reps/rep-0103.html) are not consistent and differ from the [VLP16 manual](http://velodynelidar.com/docs/manuals/VLP-16%20User%20Manual%20and%20Programming%20Guide%2063-9243%20Rev%20A.pdf).

[2017-01-12 14:13] jack-oquin commented on #113
Velodyne coordinates differ from various ROS standards no matter how the device is mounted.

The documentation does mention this, but not in any README. Which one do you think should explain it?

[2017-01-12 23:19] chukcha2 commented on #113
In case this is useful to put into some README or manual:

Frame of reference for the velodyne, as set up by the velodyne_driver, axes shown below:
X → Forward
Y → Left
Z → Up

![image](https://cloud.githubusercontent.com/assets/8009504/21912348/55e68444-d8f3-11e6-8708-158913270e01.png)

However, the original velodyne coordinate frame as described by the VLP-16 manual is shown below:

![image](htt

[2017-01-21 15:39] jack-oquin commented on #113
Would some definition of the "device frame of reference" be useful [here](http://wiki.ros.org/velodyne_pointcloud)?

If you think so, feel free to add it, perhaps in a new section following the overview.

[2017-01-25 13:25] matheusns commented on #113
I have a VLP16 and I'll have to use it in a vertical way. How can I change the coordinates to fix it?

[2017-01-25 14:52] matheusns opened #114 "How to set the View_width and View_directions on VLP16?"
I've been trying to set those parameters on VLP16, but i can't find the necessary arguments.

[2017-01-26 18:19] jack-oquin commented on #113
You just need to define the [ROS TF tree](http://wiki.ros.org/tf2) correctly. The device frame is called ``velodyne``, or whatever you specified for the ``frame_id`` parameter.

[2017-01-26 18:23] jack-oquin commented on #114
Those parameters are named ``view_width`` and ``view_direction``.

See: [velodyne_pointcloud parameters](http://wiki.ros.org/velodyne_pointcloud#Parameters-1)

[2017-01-26 18:48] matheusns commented on #114
Thanks @jack-oquin, but it isn't too explicit. I've been looking for a way to do that and I've gotten that through the "~$ rosservice call /velodyne_nodelet_manager_cloud/set_parameters". Thanks for all. Nice Job!

[2017-01-26 18:48] #114 closed

[2017-01-26 18:53] jack-oquin commented on #114
[rqt_reconfigure](http://wiki.ros.org/rqt_reconfigure) is a good tool for interactively setting these and other parameters.

[2017-01-29 14:37] danveral opened #115 "maybe there is a small bug in velodyne_pointcloud/scripts/gen_calibration.py"
if I use a db.XML which defines No.0 and No.3 laser's minIntensity are '1' instead of '0'.
I got an incorrect yaml file:

lasers:
- {dist_correction: 0.0, dist_correction_x: 0.0, dist_correction_y: 0.0, focal_distance: 0.0,
  focal_slope: 0.0, horiz_offset_correction: 0.0, laser_id: 0, **min_intensity: 1**, rot_correction: 0.0,
  vert_correction: -0.5352924815866609, vert_offset_correction: 0.0}
-

[2017-01-29 17:21] jack-oquin commented on #115
Thanks for the report. I agree that ``addLaserCalibration()`` is broken. It was probably never tested without data for all the lasers.

I believe this is a duplicate of #79.

[2017-01-30 17:33] matheusns commented on #113
@jack-oquin  Could you give an example for us, please? Because I've not gotten the expected result. I want to change the axes and use the Velodyne in a vertical way.

[2017-01-30 21:16] jlblancoc commented on #113
Hi,

You will probably get a better and faster answer by asking in
http://answers.ros.org because your doubt is quite general and is not
directly related to this package.

Best,

El 30 ene. 2017 6:33 PM, "matheusns" <notifications@github.com> escribió:

@jack-oquin <https://github.com/jack-oquin> Could you give an example for
us, please? Because I've not gotten the expected result. I want to chang

[2017-01-30 22:50] jack-oquin commented on #113
I agree with @jlblancoc that this is a general ROS coordinate transforms question, not directly related to the Velodyne at all.

Please ask your question on http://answers.ros.org with tags for ``tf``, ``tf2`` and ``velodyne``.

[2017-01-30 22:50] #113 closed

[2017-02-07 07:43] colinjing commented on #79
change the (if value != 0/255:) =>（if value != 256:）
indent   index += 1
Maybe it works~

minIntensities = db.find('DB/minIntensity_')
if minIntensities != None:
    index = 0
    for el in minIntensities:
        if el.tag == 'item':
            if enabled_lasers[index]:
                value = int(el.text)
                if value != 256:
                    addLaserCalibration(index, 'min_inten

[2017-02-12 11:51] neo-ayuge opened #116 "Missing is observed in the acquired point cloud data"
### My environment
* ROS Distro: Indigo
* OS Version: Ubuntu 14.04
* Source build
* version: e263b80
* using device: HDL64E S2(freq. 10Hz)

### Steps to reproduce
* First, I get pcap data via VeloView.
* Second, I execute the following commands.
[code]
64e_s2_points.launch is a simple imitation of "32e_points.launch".
https://github.com/Nishida-Lab/velodyne/blob/master/velodyne_pointcloud/launch/6

[2017-02-12 21:01] jmlago91 commented on #116
I think the problem is linked with this: https://github.com/ros-drivers/velodyne/pull/97/files

Since at this moment the driver is using a fixed data rate, and Velodyne doesn't produce at exact data rate (I could observe in different S3 units that rpm present small variations with the temperature), rviz are not showing exactly one frame (a little section corresponding a few packets due to a small

[2017-02-13 15:51] pjreed commented on #93
:+1:

It would be nice to get a new release for Indigo as well, as it's been a long time since the last release and there have been a lot of changes.

[2017-02-15 12:56] neo-ayuge commented on #116
@jmlago91 I'm grateful for your response.
After adjusting "npackets", it worked fine.
I'll also try the approach using azimuth value next time.

Thank you.

[2017-02-16 18:33] mkschreder opened #117 "Getting positioning data from velodyne"
Is it possible to calculate relative positioning from velodyne data using this package? Is there a guide somewhere on how to do it?

[2017-02-24 01:50] chukcha2 commented on #116
Does this problem exist for all models then (include vlp16)?

[2017-02-26 01:12] jmlago91 commented on #116
Since the driver uses the same approach for all models, the same behaviour is expected.

[2017-03-01 00:46] chukcha2 commented on #116
In this case, @neo-ayuge , why is this issue closed? Wouldn't it be a good enhancement?

[2017-03-05 19:36] merriaux opened #118 "Pcap replay error"
Hi everyone,
I try to replay a pcap file from a VLP16 record (ubuntu 16.04 and ros kinetic):
roslaunch velodyne_pointcloud VLP16_points.launch pcap:="2014-11-10-11-32-17_Velodyne-VLP_10Hz_Monterey Highway.pcap"

And I obtain this errors above.
I have done something wrong ? someone have a idea ?
thank for help
Pierre

[FATAL] [1488740219.560444888]: Error[FATAL] [1488740219.560444888]: Error openin

[2017-03-21 13:47] gowmo opened #119 "VLP_points.launch.xml producing unsued args for the include of error"
I am trying to use VLP16 as 3D sensor.  While trying to execute the VLP_points.lanch.xml  , it is generating the below error ..

[code]
I tried to change and modfiy the args in the xml, but to no avail.. Everything looks okay, but I am not able to figure out why those three args alone unused if  the rest of the args are okay.

[2017-03-22 09:10] Kaiser1401 commented on #71
I have a related question to this.

Is this 'Coordinate-System-Change'  only donw for the Velodyne 16? The axes from the 32 seems to match with the ones in the manual. I couldn't find a different handling of 16 and 32 though in the code yet.

[2017-03-28 21:10] jack-oquin commented on #71
All models should work the same.

[2017-03-28 21:13] jack-oquin commented on #119
What version of the driver are you running? Is this a binary install, or are you building it from source?

[2017-03-28 21:16] jack-oquin commented on #118
With a ROS launch script, it's necessary to provide the full path name to the PCAP file. The node does not usually run in the current directory of the ``roslaunch`` command.

Questions like this are better asked on questions.ros.org.

[2017-03-28 21:26] jack-oquin commented on #116
There is an experimental fix for this problem, see #35.

That fix is currently in the ``cut_at_specified_angle_feature`` branch, which is not currently up-to-date with the ``master`` branch. There is still work to do before we can release it in a way that is backwards compatible with existing uses.

Feel free to try it, and report back here if it solves the problem you are seeing.

[2017-03-28 21:29] jack-oquin commented on #117
Sorry for the very slow response. This package is just a device driver. It does not do localization, but provides data from which other packages may operate.

This kind of question is more appropriate for http://answers.ros.org. It will get the attention of a wider audience. Please use the ``velodyne`` tag and some others like ``localization``, etc.

[2017-03-28 21:29] #117 closed

[2017-03-28 21:30] jack-oquin commented on #93
Agreed. I've not had any time to work on it for quite a while.

[2017-03-28 21:39] gowmo commented on #119
It's a source installation. I am trying to use the VLP16 lidar with the Kobuki turtlebot. I am able to view the 3d point cloud from velodyne when I do a seperate launch without invloving turtlebot. But, when I try to launch the 3dsensor from the turtlebot , I received the above error.

From the error, I found that the arguments are not being used in the nodelet_manager.launch and I have commented

[2017-03-28 21:51] jack-oquin commented on #119
Some of the velodyne launch files have been updated to support additional arguments. For some reason, the Kobuki launch file is not compatible with that.

Can you please post a link to the github source of the Kobuki launch for the velodyne?

[2017-03-28 22:06] gowmo commented on #119
I am not sure of the github source of Kobuki Velodyne launch. All I am trying to do is to add a new 3D sensor to the Kobuki turtlebot based on the below link   [http://wiki.ros.org/turtlebot/Tutorials/indigo/Adding%20New%203D%20Sensor]
as  Kobuki is by default not configured to be run with VLP .

As per the steps mentioned in that link, we need to add the necessary files for the new 3D sensor to u

[2017-03-29 15:19] jack-oquin commented on #119
I can't figure out where you are invoking ``VLP16_points.launch``. Is it a command line ``roslaunch``, or some other launch script.

If it's another launch script, I need to see the relevant parts somehow.

[2017-03-29 20:32] gowmo commented on #119
We are invoking the VLP16_points.launch from 3dsensor.launch through roslaunch.The launch file is availabe in the below link [](https://github.com/turtlebot/turtlebot/blob/indigo/turtlebot_bringup/launch/3dsensor.launch)

That 3dsensor.launch above invokes  a 3d sensor launch. we have places the VLP16_points.laucnh as VLP16.launch and are trying to provide the argument to 3d_sensor as VLP16. Pleas

[2017-03-29 20:46] jack-oquin commented on #119
Still no help. I don't see any ``VLP16.launch.xml`` in this directory:

 https://github.com/turtlebot/turtlebot/tree/kinetic/turtlebot_bringup/launch/includes/3dsensor

I need to see what's in it.

[2017-04-02 08:48] gowmo commented on #119
Yes, there is no VLP16.launch.xml in that directory. I have changed your VLP16_points.xml as VLP16.launch.xml so that the 3dsensor.launch trigger the velodyne.

We have to make necessary changes to the turtlebot to add the new 3D sensor as per the http://wiki.ros.org/turtlebot/Tutorials/indigo/Adding%20New%203D%20Sensor . Based on the procedure as per the link, I tried to replicate the velodyne fi

[2017-04-02 16:04] jack-oquin commented on #119
I don't see how to help without knowing what you are doing.

Can you paste in your modified ``VLP16.launch.xml``?

[2017-04-16 22:58] awav commented on #93
@jack-oquin I sucessfully installed velodyne packages for Ubuntu 16.04.02 from sources,
The only issue I met was `em` & `empy` namespaces collision, resolved by uninstalling `em` and reinstalling `empy`.

[2017-04-19 04:00] #106 closed

[2017-04-24 15:43] chukcha2 commented on #116
Am I understanding this correctly?: no data is lost; the problem is only with visualizing in rviz. Is this correct?

[2017-04-30 15:12] kmotillo commented on #118
I had the same problem and I solved it with your information, thanks **jack-oquin**

[2017-05-17 08:29] LukasKalbertodt opened #120 "Fix catkin_lint errors"
Running [`catkin_lint`](https://github.com/fkie/catkin_lint) results in these errors:

[code]

... and these warnings:
[code]

Fixing those would be awesome! :rainbow:

[2017-05-26 17:58] cglwn commented on #93
Is there anything I can do to help with getting this resolved? Our group's mostly on kinetic and would like to be able to install this through the ROS repos.

[2017-05-26 20:49] cglwn opened #121 "Make PointXYZIR compatible with PCL template classes for approximate nearest neighbours"
I tried converting some existing code I had to use the `velodyne_pointcloud::PointXYZIR` type provided in this repository, but it wouldn't build due to uses of `pcl::KdTreeFLANN<velodyne_pointcloud::PointXYZIR>`, `pcl::PCLBase<velodyne_pointcloud::PointXYZIR>` and `pcl::Passthrough<velodyne_pointcloud::PointXYZIR>`. From the PCL documentation on how to [add a new type](http://pointclouds.org/docum

[2017-06-11 14:32] tstoyanov commented on #93
Hi @jack-oquin, any updates regarding the kinetic release? I can offer to help preparing the release as well. Our fork at https://github.com/OrebroUniversity/velodyne seems to work fine on kinetic. We can push also push a release from there, until the official release is ready. It would be good to have something out, so we can release our packages for kinetic as well.

[2017-06-15 02:40] aditya369007 commented on #118
@kmotillo Im facing the same issue as that you have posted. Can you guide me on how to solve it?
I am using the $(pwd) for the full path name that roslaunch requires, but still facing issues on replaying pcap files.
Does the pcap file need to be stored in a specific place for this run ?

Much thanks in advance

[2017-06-19 20:18] trevstanhope commented on #93
@jack-oquin Any chance of adding a quick How-To in the README on building/installing the master from source for Xenial prior to getting an official release?

[2017-06-23 17:26] LukasKalbertodt commented on #120
@jack-oquin @totosolat Any update on this? Would you even accept a PR that fixes those errors?

We currently can't use `catkin_lint` in our project the way we want, because this package causes errors in our workspace. Resolving this issue would be very much appreciated!

[2017-07-28 09:53] twailurus commented on #93
@trevstanhope @tstoyanov @cglwn

If you want to build the master from source, use the following steps:

Tested on
- ROS: Kinetic
- OS: 64-bit Ubuntu 16.04 (ARM)
- L4T 28.1
- Platform: NVIDIA Jetson TX2

1.
sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys FF6D3CDA
sudo sh -c 'echo "deb [ arch=amd64 ] http://packages.dataspeedinc.com/ros/ubuntu $(lsb_release -sc) main" > /etc/apt/source

[2017-07-28 11:23] tstoyanov commented on #93
@twailurus Thanks!

The issue for me at least is not so much in compiling and using the code on kinetic. This we have covered in our own fork for a while now. The problem is that without released binary packages through the ROS build farm we cannot release our upstream stack perception_oru.

Anyway, it is not an urgent issue, as we will probably untangle the dependencies and release without the ve

[2017-08-02 03:28] hcv1027 commented on #70
HI @hongliuuuu , I experienced the same problem like you, can you share me your solution?

[2017-08-02 09:46] hcv1027 opened #123 "VLP-16 poll timeout"
My working environment is Ubuntu 16.04 + ROS Kinect
I've followed the tutorial to setup VLP-16 connection, and I can open the VLP-16 user interface from my browser.
But there is no data shown in my rviz, use command "rostopic echo /velodyne_points" also got nothing.
After review the log, I find the warn message "_Velodyne poll() timeout_" is printed repeatedly.
This log is printed at the function

[2017-08-03 08:05] hcv1027 opened #124 "VLP-16 doesn't send data packet, only position packet"
My working environment (Ubuntu 16.04 + ROS Kinetic) can't catch the data packet from VLP-16 correctly.
It seems that VLP-16 dose not send data packet.
I used wireshark to monitor the received packet from VLP-16.
It shows that VLP-16 only sends position packet, but no data packet.
Below is the screen shot.
Can someone help me to debug this problem?
![2017-08-03 15-33-17](https://user-images.githubu

[2017-08-03 14:20] jlblancoc commented on #124
Hi @hcv1027

Those 512 B packets are *not* scan data (UDP port 2368), but "telemetry" packets (UDP port 8308). They are all zero because, I guess, the LiDAR is not connected to a GPS source, right? Those packets are populated with an NMEA frame, when available from a GPS.

Your problem is, apparently, that the LiDAR is not emitting range data. Try clicking on "laser: off" -> save; (wait 1 minute),

[2017-08-04 01:55] hcv1027 commented on #124
Hi @jlblancoc
If the save you said is "Save configuration" button, then I just tried and it did not work.
It still only sends "telemetry" packets.
Any other suggestion?

[2017-08-31 22:05] h3ct0r commented on #124
Have you tried to set the destination IP address to your ROS master IP?

[2017-09-05 12:28] kmhallen commented on #86
It looks like we missed Jade. This issue can probably be closed.
https://discourse.ros.org/t/final-jade-sync-2017-09-03/2559

[2017-09-23 06:32] JWhitleyAStuff commented on #93
@jack-oquin - I'd like to bump this issue and offer my support as a maintainer. My company actively uses, recommends, and supports this driver as well as using all of the sensors that it supports. I'd be happy to test and build new releases.

[2017-09-26 02:10] LiShuaixin opened #125 "how does the coordination system of output data define"

[2017-09-26 02:19] LiShuaixin commented on #125
Hello there, I have a question about output data. As I asked, how does the coordination system of output data define. Is that the origin at the geometrical centre of sensor, the x-axis pointing to the right, the y-axis pointing upward and z-axis pointing forward? It's a fundamental and essential information for multi-sensors combined system, like lidar/IMU.

[2017-09-26 08:34] Kaiser1401 commented on #125
From my experience the ROS Data is as Follows:
Z-Axis: pointing up (Axis the sensor turns around)
X-Axis: axis that internally has angle 0
Y-Axis: remaining for right handed coordinate system

So:
for Velodyne16: X_ROS is opposite of the cable
for Velodyne32: Y_ROS is opposite of the cable (I think, It is different to a 16 though)
for Velodyne64: haven't put my hands on

Unfortunately the systems

[2017-09-27 23:20] alexwhittemore commented on #108
This has been super helpful, thank you all for taking the time! (Aside: my biggest problem was that both LIDARs were using the same UDP port, which is an issue despite that both are on different physical interfaces and different subnets.)

But now I've got a related but not identical issue: after following in your footsteps, I've got two VLP-16s publishing pointclouds on the topic /velodyne_pointc

[2017-10-09 18:32] willdzeng commented on #95
Hi guys,
No follow-up on this? @acschaefer @jack-oquin

[2017-10-18 08:06] facontidavide opened #128 ""double vision" effect in PointCloud2 msg"
Hi,

playing around with the data published by this driver a noticed a potential issue. My velodyne is mounted on a robot that is moving relatively rapidly.

I noticed that a single message of PointCloud2 contains points from more than a single 360 degrees rotation. This result in detecting twice the same object in the same message, as you can notice in the attached image; since the robot is movin

[2017-10-18 14:18] snehagn commented on #71
I just wanted to make sure I am understanding this right: the ROS driver publishes the data in a FLU (x - front, y - left, z -up) frame? So, if I am facing the LiDAR down toward the earth, that means the information from the ROS driver is giving me: x - front, y - right, z - down? Thanks!

[2017-10-25 19:49] lucasveronese commented on #128
The problem that you are having is a big issue. I do not know which robot you are using... but, you do have to take into account the motion model of your robot. At the manual of the velodyne has time spent for doing a vertical scan. For each of those, the movement should be consider. I.e., using the odomotries measurement, the robot would be posed and the vertical velodyne points of one shot shoul

[2017-10-26 08:57] facontidavide commented on #128
To do what you said I guess that I would need at least the timestamp at the beginning of the robot scan and at the end, to transform the XYZ points according to my odometry...

What I found confusing or suboptimal is that apparently the amplitude of the scan differs in the starting and final angle of the scan itself.

If ww have consistently a single message for a single LIDAR rotation of 360 degr

[2017-10-26 19:05] lucasveronese commented on #128
I am not saying that. The robot could be in frame (x=0,y=0,theta=0). The velodyne points must be related to coordinate center of the robot. Then, for each vertical scan you move the robot using the odometry and the time (which is into the manual) to record it. After you put the points in world coordinetes (0,0,0), you apply the transformation to the position of your SLAM.

[2017-11-06 19:54] JWhitleyAStuff commented on #124
@jlblancoc - I would recommend you contact Velodyne on this issue. This is something related to either the configuration (though that looks correct) or the proper functioning of your device. I am closing this issue as off-topic (since it isn't related to the ROS driver)

[2017-11-06 19:54] #124 closed

[2017-11-06 20:06] jlblancoc commented on #124
Sure @JWhitleyAStuff close it!
But it was @hcv1027 not me who was having troubles ;-)

Cheers

[2017-11-06 20:18] JWhitleyAStuff commented on #125
@LiShuaixin / @Kaiser1401: According to the documentation:

The ROS_X axis (forward on a vehicle) is as follows:
VLP-16: The 0-degree point of the sensor lies along ROS_X when the cable is facing -ROS_Y (toward the passenger side of a vehicle).
HDL-32E: The 0-degree point of the sensor lies along ROS_X when the cable is facing -ROS_Y (toward the passenger side of a vehicle).
HDL-64E: The 0-degree

[2017-11-06 20:18] #125 closed

[2017-11-06 20:19] JWhitleyAStuff commented on #124
Thanks for the correction, @jlblancoc.

[2017-11-06 20:19] JWhitleyAStuff commented on #123
Duplicate of #124

[2017-11-06 20:19] #123 closed

[2017-11-15 07:52] mpkuse opened #131 "Compilation error : libvelodyne_rawdata"
I am trying to catkin_make this code. I have ros-kinetic
Most of the things seem to compile accept for linking with velodyne_rawdata.so.

[code]

[2017-11-22 13:26] B0gdar opened #132 "[Enhacement] Adding parameter to avoid publication of inf values on range field"
By making a quick review on the [VelodyneLaserScan class](https://github.com/ros-drivers/velodyne/blob/master/velodyne_laserscan/src/VelodyneLaserScan.cpp), at VelodyneLaserScan::recvCallback when constructing the LaserScanMessage there is no option for removing inf values of the published scan. I know that this is a common feature on other packages so it should not be difficult to include it
[cod

[2017-11-23 17:31] matheusns opened #133 "Turning the Velodyne VLP16 Laser Scan Off"
Hello guys,  is there a way to turn off the Velodyne VLP16 laser scan without removing it from the power source? I'm developing an application that is crashing when some sensors are collecting data. I'd like to turn off the scanning during other sensor collecting.

[2017-11-27 16:48] jlblancoc commented on #133
In case someone wants to integrate these features in this repo, in these range of lines:

https://github.com/MRPT/mrpt/blob/master/libs/hwdrivers/src/CVelodyneScanner.cpp#L1030-L1125

we implemented Return type (dual/strongest), Laser On/Off and Change RPM, in our MRPT implementation of Velodyne sensor.

[2017-11-27 22:31] JWhitleyAStuff commented on #59
A new release is here! v1.3.0 was pushed to public last week.

[2017-11-27 22:31] #59 closed

[2017-11-27 22:31] JWhitleyAStuff commented on #86
A new release is here! v1.3.0 was pushed to public last week.

[2017-11-27 22:31] #86 closed

[2017-11-27 22:32] JWhitleyAStuff commented on #93
A new release is here! v1.3.0 was pushed to public last week.

[2017-11-27 22:32] #93 closed

[2017-11-29 15:38] janblumenkamp opened #134 "VLP16 layer displacement"
Hello everyone,
I installed the velodyne ROS drivers without any problems and I do get a pointcloud from the lidar. But this pointcloud seems to be displaced, as in the layers all have a slightly different rotation.
This picture shows a wall and a corner that is supposed to be straight:
![velodyne_wall_1](https://user-images.githubusercontent.com/5030127/33383324-502be256-d523-11e7-8e80-e5f2f59912

[2017-11-30 01:06] trainman419 commented on #134
Are you using the high-res version of the VLP-16 or a standard VLP-16? (The high-res version has different beam angles that might explain the displacement)

[2017-12-02 16:21] janblumenkamp commented on #134
I am pretty sure it is a standard one, but I can't really tell. I guess the high-res one explicitly states that it is the high resolution one on the housing?)

[2017-12-03 15:46] lschaupp commented on #26
@Gariben i would be interested into your approach. Could  you pm me?

[2017-12-05 14:57] janblumenkamp commented on #134
It seems like I actually have a high-res lidar and I do have a calibration file as well, now. I will try to convert it and try again then. But shouldn't be there a custom high res calibration file? Or is the high-res VLP16 simply not supported out of the box?

[2017-12-06 10:08] janblumenkamp commented on #134
I have converted the file with
[code]
and got the output

[code]
Then I started the node with
[code]
but the result is the same... I am not sure if the second command actually accepts the calibration file as there is no message related to it. I can also type any name, even one that does not exist, and the node starts anyway as always...
So, the issue persists. Looking forward to some guidance!

[2017-12-16 14:10] ytgcljj opened #137 "I run backpack_3d.launch in cartographer error"
I installed the velodyne ROS drivers without any problems and I do get a pointcloud from the lidar.
I run backpack_3d.launch in cartographer error
#roslaunch file contains multiple nodes named [/robot_state_publisher].
Please check all <node> 'name' attributes to make sure they are unique.
Also check that $(anon id) use different ids.
The traceback for the exception was written to the log file

he

[2017-12-29 16:30] volkandre commented on #128
If you are looking for consistent 360 degree scans you might want to look into the "cut_at_specific" angle feature, which currently has its own branch: https://github.com/ros-drivers/velodyne/tree/cut_at_specified_angle_feature

Please also see the latest pull-request for this feature:
https://github.com/ros-drivers/velodyne/pull/138

A better description of the underlying problem with additional

[2018-01-01 06:59] wawaafan commented on #124
Do you have resolve this problem?  I also meet the same question, could you tell me how to resolve this?

[2018-01-02 14:56] jack-oquin commented on #124
The destination IP of 255.255.255.255 looks wrong. Have you tried setting the actual IP address?

[2018-01-06 01:19] jack-oquin commented on #120
Fixing these problems should probably be done as part of a migration to ``package.xml`` format 2.

[2018-01-09 01:15] ryanmeasel opened #140 "Inconsistent message timings"
Hardware: VLP 16
Driver version: Latest
OS Version: Ubuntu 16.04
ROS Distro: Kinetic
ROS version: 1.12.12

Using the latest driver and standard `VLP16_points.launch` (with `rpm=1200` and `npackets=1`), the messages are not sent on regular intervals. See an [example bag here](https://drive.google.com/file/d/1q7D4WfMiTG1YMzKukGt8ki8gZ7AiY5br/view?usp=sharing).

Upon investigating the [example bag](h

[2018-01-09 05:13] ryanmeasel commented on #140
Figured out the messaging rate. From manual:
“In dual return mode, the data rate of the sensor doubles.”

Still curious about the messaging interval.

[2018-01-09 16:32] jack-oquin commented on #140
I have not used ``npackets=1``, but I'd expect the normal Linux scheduler algorithm to cause activities at that Hertz rate to be clustered.

If you really need such small message rates, you might try running the driver with [RT_PREEMPT scheduling](https://wiki.linuxfoundation.org/realtime/documentation/howto/applications/preemptrt_setup). Note that UbuntuStudio provides a realtime kernel with thos

[2018-01-22 07:18] #137 closed

[2018-01-24 22:25] mparkin opened #141 "Velodyne wants to contribute fixes and new sensors files to this repository"
Can the repo maintainer respond to me to co ordinate this?

Thanks

[2018-01-26 12:51] JWhitleyAStuff commented on #134
The issue may be related to the location of the calibration file. Have you placed it in the same folder as the others (velodyne_pointcloud/params)?

[2018-01-26 12:53] JWhitleyAStuff commented on #133
Would you mind forking this repo, making the required changes, and submitting a pull request?

[2018-01-26 12:58] JWhitleyAStuff commented on #132
This has been implemented correctly according to REP 117 (http://www.ros.org/reps/rep-0117.html). Unless there is a significant need to have a different (non-conforming) value for out-of-range returns, I'm inclined to leave it.

[2018-01-26 13:07] JWhitleyAStuff commented on #95
It looks like @spuetz has started work on this with 0ba83bf. This issue is very stale and since work has already begun on it, I'm closing the issue.

[2018-01-26 13:07] #95 closed

[2018-01-26 13:13] JWhitleyAStuff commented on #141
I just replied to your email regarding this. Please submit a pull request for any changes you wish to add. Note that I likely won't pull in any significant rewrites to the driver at this point since it is fairly stable and ROS 1 now has a limited lifespan given the release of ROS2. However, bug fixes and minor feature additions are always welcome.

[2018-01-26 13:13] #141 closed

[2018-01-26 16:04] spuetz commented on #95
Please see https://github.com/ros-drivers/velodyne/pull/65

[2018-01-28 20:02] #132 closed

[2018-01-29 17:11] mpitropov opened #142 "Error in packet rate for the VLP-32C"
With the motor RPM set to 600 and a packet rate of 1808, I get around 8.3 hz on the /velodyne_packets topic.

With a packet rate of 1508:
rostopic hz /velodyne_packets
subscribed to [/velodyne_packets]
average rate: 9.987
	min: 0.100s max: 0.100s std dev: 0.00011s window: 10
average rate: 9.984
	min: 0.100s max: 0.100s std dev: 0.00009s window: 19
average rate: 9.982
	min: 0.100s max: 0.100s std d

[2018-01-29 21:02] jarvis-huang commented on #142
I experienced the problem as @mpitropov . Any fix would be highly appreciated.

[2018-01-29 21:17] jarvis-huang opened #143 "layer 8 and above in VLP-32C are distorted"
Hi, I am testing a VLP-32C. I believe I'm using the right calibration file `velodyne_pointcloud/params/VeloView-VLP-32C.yaml`.

However, when visualizing the pointcloud, I'm in front of a flat ground, I only see clear ring pattern from layer 1~7 and layer 8 and above just seem like random noise. I believe there is some bug in the driver mapping raw packets into pointcloud. Can anybody help with th

[2018-02-08 21:41] jarvis-huang commented on #143
Not reproducible any more. Closing.

[2018-02-08 21:41] #143 closed

[2018-02-08 23:52] jarvis-huang opened #144 "DISTANCE_RESOLUTION should be 0.004 for VLP32C"
But it is hard-coded to 0.002 in `rawdata.h`.

[2018-02-09 00:15] letsbelopez opened #145 "Running Velodyne Package and Another Program Connecting to One VLP-16"
I have a python script outside of ROS that creates a socket and binds to the VLP-16 port. And then I try and run this Velodyne package and I get an error saying:

`bind: Address already in use`

It looks like this should be possible with the right socket options set from reading this: https://stackoverflow.com/questions/14388706/socket-options-so-reuseaddr-and-so-reuseport-how-do-they-differ-do-th

[2018-02-09 13:00] asimay commented on #142
@mpitropov , hi , 32C has 60,0000 points per second, it is not same with 32E. so you should change the packet rate, for 32C the packet rate is not 1808.

[2018-02-09 13:25] asimay commented on #142
@jarvis-huang , hi, are you udacity's employee? I'm udacity's SDC students and mentor. :)

[2018-02-13 00:06] choisangwook opened #148 "ROS Driver Build Error"
Hello.
I'm trying to build a velodyne driver for https://github.com/ros-drivers/velodyne.git and the following error occurs :
I would like to ask if there is a way to resolve this part.
Thank you

[55 %] Building CXX object velodyne_driversr srcslib_CMakeFelesvelodyne_input.direction.cc.
[57 %] Built-target multI- iSca nRegistration
[59 %] Build target velodyne_laserscan
In file inserted from /hom

[2018-02-13 00:29] trainman419 commented on #148
Your compile output seems garbled or corrupt somehow; it's very difficult to read. Are you sure you copied the output correctly? (if your computer uses a language that isn't english, it's probably better to use the native output instead of trying to translate it to english).

I don't see anything in your output that looks like a useful compile error. Perhaps there's an error message earlier in the

[2018-02-13 00:53] choisangwook commented on #148
Dear trainman419

The environment is ubuntu 16.04.3 and kenetic ROS and the total compile result is shown below.

sangwook@sangwook-VirtualBox:~/catkin_ws$ pwd
/home/sangwook/catkin_ws
sangwook@sangwook-VirtualBox:~/catkin_ws$ cd src
sangwook@sangwook-VirtualBox:~/catkin_ws/src$ ls -al
total 28
drwxrwxr-x  7 sangwook sangwook 4096  2월 13 09:09 .
drwxrwxr-x  5 sangwook sangwook 4096  2월  8 16:46 ..

[2018-02-13 00:59] choisangwook commented on #148
Dear trainman419
The environment is ubuntu 16.04.3 and kenetic ROS and the total compile result is shown below.
sangwook@sangwook-VirtualBox:~/catkin_ws$ pwd/home/sangwook/catkin_wssangwook@sangwook-VirtualBox:~/catkin_ws$ cd srcsangwook@sangwook-VirtualBox:~/catkin_ws/src$ ls -altotal 28drwxrwxr-x  7 sangwook sangwook 4096  2월 13 09:09 .drwxrwxr-x  5 sangwook sangwook 4096  2월  8 16:46 ..lrwxrwxr

[2018-02-13 02:00] trainman419 commented on #148
It looks like you're missing pcap.h, which should be one of the dependencies for this package. Did you install the dependencies after you checked this package out into your workspace?

If you didn't, you can install all of the required dependencies with rosdep

[code]

(I recommend that you do this every time you add a new package to your workspace, to make sure you have all of the required depend

[2018-02-13 02:59] choisangwook commented on #148
Dear Austin​I have resolve thatI don't Install libpcap0.8-dev​sudo apt-get install libpcap0.8-dev​After this command it running All of that succesfully​thank you출처: http://blog.whitelife.co.kr/159 [White Life Story]-----Original Message-----
From: "Austin"&lt;notifications@github.com&gt;
To: "ros-drivers/velodyne"&lt;velodyne@noreply.github.com&gt;;
Cc: "choisangwook"&lt;choisw@novatek.kr&gt;; "Au

[2018-02-13 08:45] va9abund commented on #24
Hello,

I'd like to ask you for hint, on the branch gps_imu there's interesting node velodyne_gps_imu, however there ain't any launch file inside. And rqt_graph shows nothing from pub/subscribers used in source files. Has anyone have done any tests of this?

I've got VLP-16 and I'd like to improve SLAM-mapping using position from GPS.
As you can see from the image when I go and back it loses odome

[2018-02-14 16:53] jack-oquin commented on #148
It looks like this question has been answered. Thanks for the help, @trainman419!

[2018-02-14 16:53] #148 closed

[2018-02-15 16:54] #133 closed

[2018-02-18 23:55] choisangwook commented on #148
Dear jack-oquin

apt-get install libpcap0.8-dev
After command run, it disappear error

Thank you very much for helping me

[2018-02-25 21:26] JWhitleyAStuff commented on #144
Thanks for pointing this out, @jarvis-huang. Please see PR #149 which includes this change. There is more development/discussion to be done on that PR but it is in the pipe to be included.

[2018-02-25 21:26] #144 closed

[2018-02-25 21:28] JWhitleyAStuff commented on #131
@mpkuse - What OS/hardware platform are you trying to build this in?

[2018-02-27 08:28] B0gdar opened #152 "Documentation should be clearer about stack capabilities"
Running the driver with a VLP16. I assumed that the driver would set the specified rpm on the hardware when it does not. The parameter sets expected receiveing packets frequency :
[code]
Then uses npackets for diagnosis based on received packets from velodyne and packets configuration.
So specified rpms may differ form real motor rpms of the sensor.

I understand complexity which that work would i

[2018-03-03 08:12] raskolnikov-reborn commented on #108
remap the topics velodyne_points and velodyne_packets in the cloud_nodelet.launch and nodelet_manager.launch and to $(arg frame_id)_points and $(arg frame_id)_packets. Make sure that you pass along the frame id argument to the respective launch files from velodyne_pointcloud.launch

[2018-03-03 18:15] alexwhittemore commented on #108
Thanks for coming back with that! I should have updated this with a sample config after I finally sorted it all out. Unfortunately I don't have it on hand anymore :(

[2018-03-08 06:30] phs4530 opened #153 "Unable to open calibration file VeloView-VLP-16-HiRes.xml"
Unable to open calibration file:
/home/hs/VeloView-VLP-16-HiRes.xml

ubuntu 16.04
ros kinetic

[2018-03-13 02:55] AnkilP opened #156 "velodyne driver trying to open /deprecated_file_path/vlp16.yaml for some reason"
The velodyne driver outputs an error message saying that it cannot open the yaml file in a location that has been deleted. We are passing the right location when we initialize the node but when we open rviz, this error comes up. Where could this reference be?

[2018-03-14 17:27] jack-oquin commented on #156
How are you launching the node, and what is the exact file path of the calibration file?

[2018-03-20 08:52] zheng-rong opened #157 "VLP16 publishing point cloud with timestamp from GPRMC"
Hi all,
I am using VLP-16 (pulk lite) with provided PPS/GPRMC. Does the current velodyne driver (I am using master branch) support the feature that publish point cloud messages with time stamps from GPRMC? I did a quick search throughout the code but didn't find the operation that parses the GPRMC time to the message timestamp.

Thanks in advance,
Zheng

[2018-03-21 17:20] jack-oquin commented on #157
That is not supported by the current driver.

The problem is more complex than it first appears. The data need to be published using ROS time and not GPS time, so the results can be synchronized with messages from other ROS devices.

GPS time *could* be parsed and published by the driver as a separate [sensor_msgs/TimeReference](http://docs.ros.org/jade/api/sensor_msgs/html/msg/TimeReference.html)

[2018-03-27 06:50] melodynk opened #158 "what does the data array mean printed by the "rostopic echo /velodyne_points""
I would like know what these integers mean?I notice that 32 integers correspond with one cloud point. Is there any introduction about these data's meaning printed by the ROS?Thanks!

![point_cloud_ros](https://user-images.githubusercontent.com/37090372/37951186-229a68c8-31ce-11e8-9c1c-07790145990c.jpg)

[2018-04-13 07:16] mantangL opened #159 "can't find the parameter "npackets""
When I use VLP16 deiver, I can't find the parameter "npackets" in VLP16_points.launch. How can I change this parameter? thanks!

[2018-04-13 20:15] jack-oquin commented on #159
That's a parameter to the driver, not the point cloud conversion nodelet.

[2018-04-18 14:49] FedericoPicetti commented on #26
Hello @Gariben, I'm interested in your approach too. Can we get in contact? Thank you!

[2018-04-26 04:42] JWhitleyAStuff commented on #142
Fixed by #154.

[2018-04-26 04:42] #142 closed

[2018-04-26 14:33] JWhitleyAStuff commented on #158
This array is part of a sensor_msgs/PointCloud2 message. See http://docs.ros.org/api/sensor_msgs/html/msg/PointCloud2.html for more details. The raw data aren't very useful but when they're imported into a receiving node and converted to a pcl::PointCloud2, they're organized and tagged with metadata (in this case, intensity).

[2018-04-26 14:33] #158 closed

[2018-04-27 01:33] JWhitleyAStuff commented on #156
@AnkilP - Please let us know if you are still having this problem. If not, we'll close the issue. Thanks.

[2018-04-27 01:43] JWhitleyAStuff commented on #153
@phs4530 - Sorry for the delayed response. The xml file provided by Velodyne for the calibration of your VLP-16 HiRes must be first converted into a yaml file for use with the ROS driver. Please see section 4 of http://wiki.ros.org/velodyne_pointcloud?distro=kinetic for more information.

[2018-04-27 01:43] #153 closed

[2018-04-27 01:44] #134 closed

[2018-04-27 17:32] #159 closed

[2018-05-08 16:01] AnkilP commented on #156
hey sorry, i had no idea i got email notifications - the problem was that
the file was no longer placed there... it's a pretty amateur mistake

On Thu, Apr 26, 2018 at 9:33 PM, Joshua Whitley <notifications@github.com>
wrote:

--
Thank you for your time and consideration,

Sincerely,

Ankil Patel

[2018-05-08 16:33] JWhitleyAStuff commented on #156
No problem! Thanks for letting us know. Closing issue.

[2018-05-08 16:33] #156 closed

[2018-05-10 03:42] ebennb opened #162 "Enable more than 2 returns"
Would it be possible to have 5 returns or more per laser fire? Right now it is dual return with strongest and last, but it seems easy enough to have it write out a few of the not strongest returns as well. That would be great for our UAV LIDAR work. Thanks!

[2018-05-10 10:20] ptiwari0664 opened #163 "Flickering of Velodyne Points"
# ISSUE
When I run
* **roslaunch velodyne_pointcloud 32e_points.launch** With the parameter **rpm = 600**, the obtained velodyne_points does not flicker in rviz. However, with **1200 rpm**, velodyne_points flickers a lot.

# Parameters
 * /velodyne_nodelet_manager_cloud/max_range: 130.0
 * /velodyne_nodelet_manager_cloud/min_range: 1.1
 * /velodyne_nodelet_manager_driver/device_ip:
 * /velodyne_no

[2018-05-10 14:25] JWhitleyAStuff commented on #163
Did you modify the actual rotation rate in the Velodyne web interface first? This parameter doesn't actually modify the configuration of the Velodyne itself, it's meant to match the settings that you set in the web interface. Not sure it's even capable of 1200 RPM. Also, keep in mind that the rotation rate doesn't affect the sample rate - the lazer is still pulsing at 10Hz regardless of the rotati

[2018-05-10 14:26] JWhitleyAStuff commented on #162
This isn't something that the driver can control - it's based on the limitations of the hardware. Which sensor are you using?

[2018-05-10 14:52] JWhitleyAStuff commented on #131
Closing due to lack of response.

[2018-05-10 15:15] JWhitleyAStuff commented on #120
This was recently done with PR #160.

[2018-05-10 15:15] #120 closed

[2018-05-10 15:15] JWhitleyAStuff commented on #128
PR #138 was merged. Should resolve this issue.

[2018-05-10 15:15] #128 closed

[2018-05-10 23:39] aarushsesto opened #165 "ROS2 compatible version"
Hi, Is there any active development going on for a ROS2 compatible version of the velodyne driver or a ROS2 wrapper?

[2018-05-14 05:35] ptiwari0664 commented on #163
Hello Mr. Whitley,
Yes, I have modified in web interface as well. However I prefer ROS packages.
Have checked the HDL-32 user manual, where the capabilities were cross-checked and the manual says that the RPM can be set in the multiple of 60 (Max 1200).
I have cross-checked the publishing /velodyne_points publishing rate, and it is ~20Hz (19.8 - 20.0). Therefore, I believe that the HDL-32 is pulsi

[2018-05-15 03:54] zhang261007 commented on #108
thacks a lot !!!

[2018-05-15 05:01] #108 closed

[2018-05-16 23:35] FabianKuzaj opened #166 "Compiling Error"
Hi!

I started using ROS a few days ago and now want to integrate our VLP-16. So I created a catkin workspace first (as described here: http://wiki.ros.org/ROS/Tutorials/InstallingandConfiguringROSEnvironment) and then followed the instructions in this tutorial to install VLP-16 drivers: http://wiki.ros.org/velodyne/Tutorials/Getting%20Started%20with%20the%20Velodyne%20VLP16
But when it comes to b

[2018-05-18 17:40] JWhitleyAStuff commented on #166
@FabianKuzaj - This looks like an environmental problem. Are you sourcing /opt/ros/kinetic/setup.bash in your ~/.bashrc file? Have you created a new terminal window since you installed ROS (this is what sources ~/.bashrc)?

ros::init is part of the roscpp package so try `sudo apt install ros-<ros_distro>-roscpp` (though this should already be installed if you used a -desktop variant of ROS).

[2018-05-18 17:45] JWhitleyAStuff commented on #166
Also worth noting that you can now install ros-<kinetic>-velodyne via `apt` and it will get version 1.3.0 (released November of last year) which has support for most sensors.

[2018-05-18 23:07] FabianKuzaj commented on #166
@JWhitleyAStuff Thanks for your reply.
I'm sourcing /opt/ros/kinetic/setup.bash as well as /home/fabian/catkin_ws/devel/setup.bash in my .bashrc. And I'm only using one terminal ($ROS_PACKAGE_PATH is /home/fabian/catkin_ws/src:/opt/ros/kinetic/share). I also tried to compile with just /opt/ros/kinetic/setup.bash in the .bashrc, didn't work..
`roscpp` is also installed.

Furthermore I installed the

[2018-05-18 23:08] JWhitleyAStuff commented on #166
Are you using the --extend flag on your second source line?

[2018-05-19 00:00] FabianKuzaj commented on #166
No, the last two lines of my .bashrc are (if this is what you mean):
...

    source /opt/ros/kinetic/setup.bash
    source /home/fabian/catkin_ws/devel/setup.bash

[2018-05-19 00:56] FabianKuzaj commented on #166
Yep, I cloned the git into the /src folder..
Maybe something in the ROS installation process went wrong? I'll try to reinstall everything (including ROS) on Monday, maybe that might help.

[2018-05-21 17:25] FabianKuzaj commented on #166
Reinstalled ROS, still getting the same compiling error. So if you have any ideas let me know. I now try to work with the raw UDP stream and convert it.

[2018-05-21 17:31] JWhitleyAStuff commented on #166
Are you using g++ as your compiler? What OS are you running on? Since this is during compiling and not linking, it looks like an issue with Include folders. These should be set by CMake in the variable ${PROJECT_NAME}_CATKIN_DEPS (line 4 of CMakeLists.txt in `velodyne_pointcloud`) which would point it to /opt/ros/kinetic/include where it should find ros/ros.h which points to ros/init.h (where the

[2018-05-21 18:53] FabianKuzaj commented on #166
So I'm using g++ 4.9.3 on Ubuntu 16.04.
I checked all files you mentioned and everything is available.

Also I double-checked the thrown error, it looks like this:

    [ 50%] Linking CXX executable /home/fabian/catkin_ws/devel/lib/velodyne_driver/velodyne_node
    [ 52%] Built target driver_nodelet
    [ 58%] Built target velodyne_rawdata
    [ 64%] Built target ringcolors_nodelet
    [ 66%] Link

[2018-05-23 03:09] trainman419 commented on #166
Cross-posting from https://answers.ros.org/question/291910/linking-problem-with-catkin_libraries/?answer=291949#post-id-291949 , I strongly recommend that you try using the default version of gcc instead of an older version.

[2018-05-23 17:26] FabianKuzaj commented on #166
@JWhitleyAStuff @trainman419 thanks again for your help! As mentioned above, problem was solved here: https://answers.ros.org/question/291910/linking-problem-with-catkin_libraries/
Issue can be closed.

[2018-05-23 17:26] #166 closed

[2018-05-23 19:28] JWhitleyAStuff commented on #165
Not in my company, at the moment. We have it on our roadmap but it's some time out.

[2018-05-30 14:15] maracuya-robotics opened #167 "Configure scanner based on node configuration"
You can set a number parameters specific to the scanner hardware in the ROS node. It looks like these parameters are only used for diagnostic and probably interpretation purposes. Some features of the scanner can be configured via HTTP requests.

Would it be feasible to change these parameters on the scanner during start of the node if it is wanted by the user (e.g. setting a parameter `configure_

[2018-06-05 10:22] Sun1307010608 opened #168 "how to adjust the frequency of the publish topic /scan"
Hi everyone:
  I use this ros-drivers to receive the topics named /scan, and when I input the command: "rostopic hz /scan", It shows：
average rate: 9.814
	min: 0.088s max: 10.302s std dev: 0.10281s window: 9
average rate: 9.814
	min: 0.088s max: 10.302s std dev: 0.10276s window: 19
average rate: 9.814
	min: 0.088s max: 10.302s std dev: 0.10271s window: 29
average rate: 9.814
	min: 0.088s max: 10.3

[2018-06-05 19:39] erichahn opened #169 "pointcloud conversions and lib catkin convention include folder"
catkin convention says that header files should live inside the include folder of this package yet many deprecated headers are currently living inside src/conversions.

Requesting that these move underneath the include folder.

[2018-06-06 14:32] JWhitleyAStuff commented on #169
Please see PR #170. Thanks for the suggestion.

[2018-06-06 14:32] #169 closed

[2018-06-06 21:27] JWhitleyAStuff commented on #162
After reviewing the documentation, Velodyne lidars are only capable of 3 modes: strongest return, last return, or dual return. The sensor only returns up to two results per laser fire and is not capable of returning more than two.

[2018-06-06 21:27] #162 closed

[2018-06-06 21:36] JWhitleyAStuff commented on #168
The publish frequency of the /scan topic is determined by the rotation rate of the sensor (RPM) divided by 60. If the sensor is spinning at 600 RPM (default), this will result in a 10 Hz frequency on the /scan topic. See the documentation for the HDL-64E for more information: http://www.velodynelidar.com/lidar/products/manual/HDL-64E%20Manual.pdf

From page 8:

is 600 RPM (10 Hz). Note that changi

[2018-06-06 21:36] #168 closed

[2018-06-11 14:35] Alby407 opened #171 "Migrating to ROS Melodic"
Is there already a date when the package will be migrated/updated to ROS Melodic?

[2018-06-11 15:17] JWhitleyAStuff commented on #171
There is no particular date but I'm working on adding Melodic to the list of test builds right now. After it is stable in Melodic and I've pulled the two PRs that need testing (#164 and #155), I'll make a new release for Kinetic, Lunar, and Melodic.

[2018-06-11 17:17] JWhitleyAStuff commented on #171
It is now building on Travis for Indigo, Kinetic, Lunar, and Melodic. As I said, I want to test changes on the two PRs and get them merged before releasing but I'll update this ticket when the new version is out.

[2018-06-11 17:18] JWhitleyAStuff commented on #119
This ticket hasn't been updated in over a year with no response from the submitter. Closing.

[2018-06-11 17:18] #119 closed

[2018-06-11 17:29] Alby407 commented on #171
Thank you very much!

[2018-06-20 15:35] sts-thm opened #174 "Cut at specified angle leads to deadlock"
The ```cut_angle``` parameter and functionality introduced by #138 leads to a deadlock inside a ```while(true)```-loop, for specific values of the ```cut_angle``` parameter in relation to the FOV specified in the velodyne's user interface.
I found out about this issue using a VLP16 and commit ef2345eb0633360c2ab80c231bb65f45866df82e of this repository.
There are several possible configurations for

[2018-07-16 03:55] richarddan opened #175 "Packet rate for S3"
I want to add support for HDL-64E S3D, but I'm not sure how to calculate the packet rate.
I think it's about 5800.
Can anyone tell me how to calculate the exact packet rate?

[2018-07-17 01:11] #175 closed

[2018-07-17 04:18] JWhitleyAStuff commented on #174
Sorry I didn't get to this sooner. I never saw the notification. Please do submit a PR and I will get it tested/reviewed.

[2018-07-21 06:34] ttomchy opened #176 "question about classify points between strongest return and last return"
Hello ,In the velodyne dataset ,They have provided three modes to return the data, the  strongest return and last return or both returns.  We can also set the return models on the site but how to classify the points belongs to the   strongest return and the last return when we using the dual mode to return data. I am confused about it. Does anyone know how to solve it ?  Thank you.

[2018-07-24 13:16] NTUTian commented on #108
Appreciate all for taking the time!
But I still have some question about change port number is mean change data port or the other?
Can it be changed to any number?
Sorry,my English isn't very good.

[2018-07-24 14:02] NTUTian commented on #108
I use @JeongJae0815 code and change the port number but when I open it the status still display error.
What did I miss?
Sorry,my English isn't very good.
Thank you in a advance

[2018-07-24 17:22] JWhitleyAStuff commented on #108
@NTUTian - I am sorry but the maintainers of this repository can not support another repository (like the one from @JeongJae0815). However, the official Velodyne repository should support many Velodynes (my company has tested up to 4 simultaneously). To do this, you must log in to the web interface on each Velodyne and change the IP address and port to something different. If you are using them al

[2018-07-24 17:54] JWhitleyAStuff commented on #176
On the Velodynes, each laser emits two pulses per point. For a description of the difference between these three modes, I recommend seeing this document: http://velodynelidar.com/docs/notes/63-9277%20Rev%20B%20HDL-32E%20Application%20Note%20-%20Packet%20Structure%20&%20Timing%20Definition.pdf

When both returns are provided (Dual Return mode), you would need to look at the distance of each point t

[2018-07-24 17:58] JWhitleyAStuff commented on #167
There are two reasons that this cannot be done with the current version of the driver:

1. The driver does not implement programming of the configuration packets necessary to configure the Velodyne devices over Ethernet.
2. The HDL-64E does not support configuration over Ethernet, only via RS-232/Serial.

If you would like to add the functionality to configure the Velodyne devices which allow for

[2018-07-24 18:17] #145 closed

[2018-07-25 02:53] NTUTian commented on #108
Thanks for coming back with that!
I will try it.I will inform you if have any news

[2018-07-25 07:19] NTUTian commented on #108
I changed IP to 192.168.1.201 ,the other is 192.168.1.201 and the data port changed 2364 and 2372 in web .I also changed IP and port in VLP16_points_multi.launch.When I run the source the status is OK but show nothing.
By the way,the Broadcast IP  is mean Host IP?
Thanks for all taking time to answer me.

[2018-07-25 08:34] JeongJae0815 commented on #108
you must change ur IP differently like one is 192.16.1.201 the other is 192.168.1.202 and also data port, telemetry port differently.

[2018-07-25 08:41] NTUTian commented on #108
Sorry, I made a typo. I use IP 192.168.1.201 and 192.168.1.202 but still show nothing

[2018-07-25 09:59] JeongJae0815 commented on #108
Did you change telementry port? you must change this telementry port.
Can you check the VLP16_points_multi.launch file?
You must reflect the change on this file too.

[2018-07-25 11:32] NTUTian commented on #108
I already changed Data port and telementry port like this.
And I also change in web
`<group ns="ns1">

  <arg name="calibration" default="$(find velodyne_pointcloud)/params/VLP16db.yaml"/>
  <arg name="device_ip" default="192.168.1.201" />
  <arg name="frame_id" default="velodyne_first" />
  <arg name="manager" default="$(arg frame_id)_nodelet_manager" />
  <arg name="max_range" default="130.0" />

[2018-07-25 11:59] NTUTian commented on #108
I changed data port and  telementry port like this code.
I also changed in web
[code]

[2018-07-25 13:21] NTUTian commented on #108
Sorry guy,I lost my address IP so I can not go to interface how can I do?

[2018-07-25 13:59] NTUTian commented on #108
I can not enter the website I think I lost my address ip .What can I do to find my ip or how to  reset it?

[2018-07-25 16:45] alexwhittemore commented on #108
It's a pain - it's mentioned on page 24 of the web server manual for the VLP-16: http://velodynelidar.com/docs/manuals/63-9266%20REV%20A%20WEBSERVER%20USER%20GUIDE,HDL-32E%20&%20VLP-16.pdf

If you don't know the IP of the sensor, you have to plug it in and start WireShark on the interface. The sensor broadcasts messages whether you want to or not, so the packet capture will show a flood of sensor

[2018-07-26 02:54] NTUTian commented on #108
Thank a lot I get my IP now,

[2018-08-02 12:34] StanleyHusai opened #179 "Unable to locate package ros-jade-velodyne"
I used "sudo apt-get install ros-jade-velodyne" to install velodyne-driver but it didn't work. it shows as follow:
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package ros-jade-velodyne

My ubuntu is 14.04, my ros version is jade. i don't know where the problem is. Thanks for your answers!

[2018-08-03 18:20] JWhitleyAStuff commented on #179
@StanleyHusai - It doesn't look like there is currently a Velodyne package released for Jade. I don't know the history of this repository well enough to say why this is the case (maybe @jack-oquin could help) but Jade is no longer supported (by this repository or ROS in general). I would recommend you moving back to Indigo or, better yet, forward to Kinetic or Melodic.

[2018-08-03 18:20] #179 closed

[2018-08-03 19:33] #176 closed

[2018-08-10 07:26] ajay1606 opened #180 "velodyne LiDAR HDL 64E S2 wrong measurement of points"
Hello Every one,
I am currently using a Velodyne HDL 64 E S2 model of the sensor with Velodyne ros package. Any how we are getting data and able to render in rviz using the launch file **64e_s2_points** with calibration file **hdl64e_s2_calib.yaml**

But the problem is , projected points appears to be wrong. It is not clearly aligned with each channel data.

// Launch file 64e_s2_points.launch
[co

[2018-08-10 15:25] JWhitleyAStuff commented on #180
@ajay1606 - Is this the default calibration file that is provided with the driver or one that you generated from the .xml file provided by Velodyne for this sensor?

[2018-08-10 23:45] ajay1606 commented on #180
Hello Everyone,

Finally, the problem got solved. I received a calibration file from the Velodyne technical support. Also, they mentioned that each unit of the Velodyne sensor comes with the separate calibration file.
![velodyne_fixed](https://user-images.githubusercontent.com/29722843/43985532-84ee4dca-9cf7-11e8-849b-db589b690f51.png)

[2018-08-10 23:46] JWhitleyAStuff commented on #180
Thanks for getting back to us!

[2018-08-10 23:47] #180 closed

[2018-08-16 19:17] ashnarayan13 opened #181 "Wrong dimensions of objects"
Hi,

I have pcap recording on a VLP32c lidar. The size of a measured object is wrong by almost half in the scan data when viewed with rviz. Is there some scaling done for the points? The height of a standard pylon and the distance between pylons is nearly half the length that was physically measured.
Any idea how to fix this?

Thanks!

[2018-08-17 08:08] ashnarayan13 commented on #181
@JWhitleyAStuff - The maint/vlp_32c_support has proper scale. But the scan is not consistent and flickers.
![imageedit_4_5823894109](https://user-images.githubusercontent.com/6239730/44255150-59cddd00-a205-11e8-813b-eec27e888285.png)

You can see the rotation of the LiDAR scan. This didn't happen in the master branch. Any ideas on how to fix it? This issue doesn't happen on veloview as well.

Than

[2018-08-17 23:25] JWhitleyAStuff commented on #181
@ashnarayan13 - The maint/vlp_32_c branch was several PRs behind master. I've updated it and merged. Please pull, rebuild, and try this branch again. Thanks.

[2018-08-20 08:09] ashnarayan13 commented on #181
Hi,
The issue is resolved!
Thank you.

[2018-08-20 08:09] #181 closed

[2018-08-26 07:08] ohwonteak opened #182 "hello. can i ask something ?"
i use velodyne lidar vlp16 and i want to list data like this

first i want to list vertical data like -15deg -13deg -11deg ......15deg but now data come like -15deg ->1deg->-13deg->3deg .....15deg
If i know the moment when the horizontal information(next vertical data start,X-Y angle?) changes, is there a way to know that information is sortable?

[2018-08-30 12:49] ClementLeBihan opened #183 "Synchronize Velodyne Timestamp with ros::clock"
Hi,

I'm working on using packet timestamp instead of ros timer.
The timestamp in velodyne packet is on 4 bytes and representing the uS from the beginning of the new hour. But I can't understand why it's so different from the corresponding PC time.

For example, for a velodyne UDP packet, we have :
 - UDP HEADER : 1533734983,392073154 (08/08/2018 15h29m43s392ms)
- VELODYNE TIMESTAMP 2747198412 uS

[2018-08-30 19:47] JWhitleyAStuff commented on #183
Hi, @ClementLeBihan - thanks for asking this question! Currently the Velodyne sensors can be synchronized with an external GPS device (a Garmin GPS Puck) which has to be configured specifically for this purpose. You can order one from AutonomouStuff or directly from Velodyne. There is currently no way to push timing data from the ROS environment through the driver to the sensor. AFAICT, it looks l

[2018-08-30 19:52] #174 closed

[2018-08-31 06:42] ClementLeBihan commented on #183
Hi @JWhitleyAStuff !

Thank you so much for your answer. I did know that the GPS can send PPS to the Velodyne to synchronize Time, but I thought that without any GPS the Velodyne was able to synchronize with PC clock from Ethernet connection.

Thank you for telling me about the ntpd_driver. I didn't know this, and I think that we'll use this solution. Let's keep in touch !

Best,
Clément

[2018-08-31 21:15] #183 closed

[2018-09-04 16:09] ClementLeBihan commented on #183
Sorry to re-open the issue, but I found in the VLP32-C documentation that it is possible to send NMEA message (and PPS) from a laptop. (7.4.4 GPS Connection Scenarios)

Will the Velodyne timestamp be synchronized with our laptop clock if we send "fake" NMEA message with the laptop timestamp from laptop serial port ?

Best,
Clément

[2018-09-06 02:59] trainman419 commented on #183
The VLP32-C (and the VLP16) require both a PPS and NMEA signal in order to synchronize time. If you do this correctly the VLP32-C web interface will show that PPS is locked and that the time is synchronized. Generating the NMEA and PPS signals from a Linux laptop is probably possible, but it's beyond the scope of this issue. Maybe look for a post on a Linux high-precision time forum or mailing lis

[2018-09-12 03:58] lstelzner opened #184 "Nodelet crashing"
Hi,
I installed ros-kinetic-velodyne, after sourcing my environment I run:
'roslaunch velodyne_pointcloud VLP16_points.launch'
Then it crashes:
~ $ roslaunch velodyne_pointcloud VLP16_points.launch
... logging to /home/laura/.ros/log/fa4bc318-b63d-11e8-a5fd-34e12d206854/roslaunch-X1C-LStelzner-10961.log
Checking log directory for disk usage. This may take awhile.
Press Ctrl-C to interrupt
Done che

[2018-09-13 16:58] lstelzner commented on #184
It looks to have been related to a recent kinetic release, and the fact all my other ros packages were an older version.  After upgrading to the new ROS packages, the velodyne launch started functioning as expected.  Closing.

[2018-09-13 16:58] #184 closed

[2018-09-13 17:00] JWhitleyAStuff commented on #184
Sorry you had trouble but thanks for updating the issue! Glad you got it resolved!

[2018-09-19 19:30] JWhitleyAStuff commented on #171
Sorry this took so incredibly long. I just released v1.4.0 which is being built on the ROS build farm for Indigo, Kinetic, Lunar, and Melodic. I didn't get all of the PRs in that I wanted but a release was really necessary.

[2018-09-19 19:30] #171 closed

[2018-09-20 10:27] moooeeeep opened #188 "Proper handling of missing NMEA string needed"
When no NMEA sentences are received, the message handler throws exceptions. (I think this happens when it is attempted to create a `ros::Time((uint32_t)-1)` [here](https://github.com/ros-drivers/velodyne/blob/gps_imu/velodyne_gps_imu/src/gpsimu_driver.cc#L220).)

This prevents the IMU data to be published. I would suggest to add proper error handling there. Not sure what may be the most elegant ap

[2018-09-25 14:13] orz-000 commented on #118
I have same problem and I provided full path of pcap file, but I couldn't run this program.  How can I solve it??

command:
roslaunch velodyne_pointcloud VLP16_points.launch pcap:=/home/koby/Download/vlp16_sample.pcap

error massage:
... logging to /root/.ros/log/b891589e-c0c8-11e8-9936-0242ac110002/roslaunch-14e5fc6365ab-10521.log
Checking log directory for disk usage. This may take awhile.
Press

[2018-09-25 18:16] JWhitleyAStuff commented on #118
@orz-000 - It's difficult to tell what caused the error without the log. Did you build the driver from source or install it from the ROS repository? Have you modified the launch file? Can you please paste the log that it mentions in the output here?

[2018-09-28 16:18] orz-000 commented on #118
@JWhitleyAStuff -Thank you for indicating and I fixed my docker file. I built and ran VLP16_points.launch, but I couldn't run all process and same error messages appeared.
What should I do? How can I solve it?

[FATAL] [1538150971.656599982]: Failed to load nodelet '/velodyne_nodelet_manager_driver` of type `velodyne_driver/DriverNodelet` to manager `velodyne_nodelet_manager'
[velodyne_nodelet_man

[2018-09-28 16:31] JWhitleyAStuff commented on #118
@orz-000 - I don't have an immediate solution for you. Please let me know your environment outside of Docker (Kerenel version, distribution, etc) and I'll do my best to replicate it on my machine. I'll put this ticket in "Needs Testing" for now. Can't promise a quick response on this one.

[2018-09-28 16:31] #118 closed

[2018-10-06 03:28] wdxairforce commented on #121
@cglwn Hi, i am encountering the same problem you meet, may i ask if you have find any solution to deal with it?

[2018-10-06 05:07] cglwn commented on #121
@wdxairforce The change I did in #122 worked for me, but required rebuilding. Jack suggested something else that might work but I didn't get the change to try.

I'm pretty far removed from working in this area so I'm afraid I can't help further.

[2018-10-08 11:50] msemtd commented on #182
To get the points in increasing elevation, you can sort the points in each PointCloud2 message by ring in the following ring order: 0, 2, 4, 6, 8, 10, 12, 14, 1, 3, 5, 7, 9, 11, 13, 15 as per the VLP-16 User Manual Table 9-1

[2018-10-08 14:33] msemtd opened #190 "VLP-16 vert_offset_correction all zero in YAML"
The VLP-16 User Manual Table 9-1 shows various vertical offset corrections but these don't appear in        velodyne/velodyne_pointcloud/params/VLP16db.yaml

NB: I know that this is generated by velodyne/velodyne_pointcloud/scripts/gen_calibration.py and that the VLP-16 XML calibration file for Veloview also has zero vertical offset corrections (see VeloView/share/VLP-16.xml) - I just want to know

[2018-10-15 13:00] egoist-sx opened #191 "VLP16 timestamp not working"
I have been working with Velodyne VLP16 recently and trying to get timestamp of each data packet.

According to VLP16's documentation, there are four byte timestamp represent microsecond since top of hour.
Currently in rawdata.h: raw_packet struct contains uint16_t revolution. But suppose it be uint32_t timestamp?

Otherwise raw_packet's size does not match UDP packet content size. I have searched

[2018-10-15 16:05] msemtd commented on #191
The uint32_t timestamp can be found in each packet at byte index 1200. See figure 9-2 in the VLP-16 User Manual. The manual does not mention revolution being part of the packet data and the rawdata.h heading is not clear which device manual it is talking about - it's clearly wrong for the VLP-16!

A better version might be something like
`  typedef struct raw_packet
  {
    raw_block_t blocks[BLOC

[2018-10-16 03:43] egoist-sx commented on #191
@msemtd Thanks a lot! I have modified the code and checked timestamp read from VLP-16 but it differs a lot from ROS time on how many seconds past since last hour. Do you observe something similar? Currently I am using ROS time stamp by adding offset between those two measured at first received packet.

[2018-10-16 07:01] egoist-sx commented on #191
@JWhitleyAStuff Thank you very much.

[2018-10-16 07:02] #191 closed

[2018-10-16 10:54] msemtd commented on #165
Further to a ROS2 compatible version, I'm working with a ROS independent port of a large part of the VLP-16 packet to pointcloud conversion code. It's rather messy at the moment but I hope to make it available sometime.

[2018-10-18 10:18] saikishor commented on #124
@jack-oquin is having destination IP as 255.255.255.255 wrong?. I have a velodyne sensor. I connected it to my network, it works very well, but I am not able to access its webpage to configure stuff. Any idea how to recover to the original settings?
![image](https://user-images.githubusercontent.com/10082428/47148012-cb8ed980-d2cf-11e8-9c6b-f0e5b01db602.png)

[2018-10-24 20:19] jviramo1 opened #192 "velodyne_laserscan only works for the one ring close to the horizontal"
When using the velodyne_laserscan node we're expecting to see the resulting scan line up with the points in the pointcloud. However, with VLP-16 this is only true whenever ring 8 is selected with the errors being more evident with the rings at the two extremes (ring 0 and 15 for VLP-16).
Looking at the driver it appears to me that the conversion does not account for the fact that other rings are n

[2018-10-31 07:59] lesterlo opened #193 "RViz pointcloud flashing"
Hello, I am using this driver to visualize the point cloud on RViz, but the pointcloud on the RViz is flashing. I can only fix it by changing the rpm value in the launch file from 600 to 300, or the set the RViz visualize decay time from 0 to 0.15. However, the pointcloud will then become delayed and not shown in real time.

Did the packet rate are difference between HDL-64ES2 and HDL-64ES3?

I wo

[2018-10-31 09:47] lesterlo commented on #193
Ok. I solve the problem. Seems my HDL-64E_S3 is in Dual return mode. I add a new config model called 64E-S3 on [this line](https://github.com/ros-drivers/velodyne/blob/797eead188f16988f738dd4efef394d94b55b683/velodyne_driver/src/driver/driver.cc#L40) . I assume the lidar generates 2233312 points per second in dual fire mode.  I change the packet rate from 3472.17 to 5815.91 (2233312/384). And the

[2018-11-15 20:37] JWhitleyAStuff commented on #192
@jviramo1 - I believe the idea was that each individual ring would assume an origin at the central point of it's conical projection. I would need clarification from @kmhallen to be sure. I've assigned him this issue so we should hopefully hear back soon.

[2018-11-15 21:23] kmhallen commented on #192
This is by design. The [LaserScan](http://docs.ros.org/api/sensor_msgs/html/msg/LaserScan.html) message doesn't have the 3D concept of height. For this reason, the 3D point is projected to the x-y plane by assuming z is zero. It is only intended to be used with the ring closest to zero elevation. The conversion from a 3D PointCloud to a 2D LaserScan will inherently lose information.

I should prob

[2018-11-16 14:44] jviramo1 commented on #192
Thanks for the clarification.
My impression was that the node would project the points on an x-y plane aligned with the elevation angle of each individual ring, then you wouldn't lose any information going into a 2D LaserScan. In other words, we would assume that a VLP-16 is a collection of 16 lasers each with a different elevation angle.
In addition to documenting the velodyne_laserscan package I

[2018-11-16 14:44] #192 closed

[2018-11-16 16:56] kmhallen commented on #192
There is no way to do that. The rings form cones like the top diagram, not planes like the bottom diagram. The LaserScan message does not have an elevation angle value, so it must be a plane.

I think the ring selection code should stay so this can be used with other LIDAR sensors where the horizontal ring number is not known at this time.
![rings](https://user-images.githubusercontent.com/3687185

[2018-11-16 17:10] JWhitleyAStuff commented on #192
@kmhallen There are two other options:

1. You could make the selected ring dependent upon the type of sensor selected. Since there are only a fixed number of Velodyne sensors and each "perpendicular ring" is known for each sensor, this would cut down significantly on confusion, IMO.
2. You could "flatten" each conical projection about a ring on the cone defined by the distance from the sensor's o

[2018-11-16 18:22] kmhallen commented on #192
1. We could calculate the average angle of elevation of each ring for the first message, and use the one closest to zero as the default. This would support all sensors without prior knowledge. However, most sensors do not have a horizontal ring, and the two that are above and below horizontal are equally valid.

1. We could optionally add z into the range measurement, but only if we can think of p

[2018-11-16 18:58] rgc183 commented on #175
do you know how to calculate this packet rate? how many points generated per second?

[2018-11-16 19:01] rgc183 opened #195 "how to calculate packet rate for HDL64E_S3D"
https://github.com/ApolloAuto/apollo/blob/master/modules/drivers/velodyne/velodyne_driver/src/driver/driver64.cpp#L36 can anyone tell me how do we calculate this packet rate? Number of points generated for S3D are 1.3 millions/sec according to that packet rate should be same as 64E_S2. But here why it is different ? Any link to document would be helpful.

[2018-11-16 19:42] #195 closed

[2018-11-30 16:23] JWhitleyAStuff commented on #112
@ajay1606 - This looks like an issue specific to Autoware - the lidar_kf_track is not part of the Velodyne driver. Please open an issue at https://github.com/CPFL/autoware/issues.

[2018-12-04 23:57] versatran01 opened #196 "No launch file for ringcolors node?"

[2018-12-05 00:22] versatran01 opened #197 "Are velodyne points ordered?"
Does anyone know what is the direction of rotation of the lidar, is it CW or CCW?
And is it safe to say that points published by the driver are ordered? For example, if I simply iterate through the points, then earlier points will come from a ring with lower id than later points, and within each ring, points start from degree 0 to 360?

[2018-12-05 23:52] #182 closed

[2018-12-05 23:54] JWhitleyAStuff commented on #197
@versatran01 - This is somewhat unscientific but, using a camera with no IR filter, the lasers appear to spin counter-clockwise about Z (with Z pointing up). However, the points are currently unstructured within the point cloud. There is some information regarding the ordering of the rings in #182 and PR #74 attempts to address this issue. However, that PR has not been worked on in a while. If you

[2018-12-05 23:54] #197 closed

[2018-12-05 23:57] JWhitleyAStuff opened #198 "Testing and Support for Dual-Return Mode"
Dual-return mode does not seem to be properly implemented (as mentioned by #109 and shown by the problems enabling it causes in #193). This is a reminder item to eventually add full, working support for dual-return mode to the driver.

[2018-12-05 23:57] JWhitleyAStuff commented on #109
Closing with a note to add support in the future with #198.

[2018-12-05 23:57] #109 closed

[2018-12-05 23:58] JWhitleyAStuff commented on #193
Created issue to support dual-return mode in the future. Thanks.

[2018-12-05 23:58] #193 closed

[2018-12-06 00:01] JWhitleyAStuff opened #199 "Expand and Update README and wiki.ros.org Entry"
http://wiki.ros.org/velodyne is somewhat dated and needs to include additional data about new sensors and this driver's support of them. The README is also very sparse. It should include, at the very least, some important notes recommended by users (such as the fact that this driver does not configure the sensor) and a link to the wiki.ros.org page.

[2018-12-06 00:02] JWhitleyAStuff commented on #152
@B0gdar / @versatran01 - Thanks for the feedback. I have added issue #199 to address this. I'll try to get on it as soon as I can. Any help from others is appreciated.

[2018-12-06 00:02] #152 closed

[2018-12-06 00:04] JWhitleyAStuff commented on #163
I have added issue #199 to be more clear in the documentation about the capabilities of the driver. For the time being, please be aware that the following will cause inconsistencies in the production of the point cloud in ROS:

 - Changing the RPM in the launch file to a value that does not match the sensor.
 - Changing the RPM on the sensor to a value that does not match the launch file.
 - Enabl

[2018-12-06 00:04] #163 closed

[2018-12-06 00:05] JWhitleyAStuff commented on #140
Closing due to lack of activity and provided explanation by @jack-oquin.

[2018-12-06 00:05] #140 closed

[2018-12-06 00:10] JWhitleyAStuff commented on #116
The `cut_at_specified_angle` branch was merged into `master` some time ago. I'm not exactly sure how this feature would solve the stated problem, but @jack-oquin seems to think it will. My understanding is that the driver attempts to produce data at exactly 10Hz (100ms interval) while the sensor does not always produce exactly 1 scan worth of data in 100ms. This leads me to the conclusion that the

[2018-12-06 00:10] #116 closed

[2018-12-06 04:13] versatran01 commented on #197
I see, so one should not assume any order at this point.
I'd love to help, there seems to be two approaches, one is to directly produce ordered point cloud (probably do it in raw_data.cc0), the other is to post process the pointcloud, since one can always compute azimuth and inclination of a point given x,y,z. Which do you think is better?

[2018-12-06 18:31] JWhitleyAStuff commented on #197
@versatran01 - Approaches that have been attempted before centered around processing the point cloud as soon as it arrives. This would be my preferred approach, as long as it is efficient and does not reduce the frequency of the produced point clouds by much.

[2018-12-10 19:09] JWhitleyAStuff opened #201 "Provide Documentation for velodyne_laserscan"
@kmhallen - Would you mind providing some documentation on http://wiki.ros.org/velodyne_laserscan and adding a README.md to this package which points to that URL?

[2018-12-10 19:13] kmhallen commented on #201
Sure, I'll try to take care of it over the holidays

[2018-12-10 19:13] JWhitleyAStuff commented on #201
Excellent. Thank you!

[2018-12-12 06:56] pavankumarbn opened #202 "Velodyne Puck Lite - Points are not projected correctly | Wrong measurement of scanned points"
Hi All,

I am using  Velodyne Puck Lite for PCD acquisition, but after the scan, data appears to be distorted horizontally, Projected points are not clearly aligned with each channel data.
<img width="868" alt="pcd" src="https://user-images.githubusercontent.com/4351074/49851481-8d6feb00-fe24-11e8-9cbc-2f04dcea7aea.png">

<img width="672" alt="pcd2" src="https://user-images.githubusercontent.com/4

[2018-12-12 15:07] msemtd commented on #202
It may be worth applying the vert_offset_correction values mentioned in #190

How does your scanner data look in VeloView?

[2018-12-13 07:54] pavankumarbn commented on #202
@msemtd Thank you for your reply. I will try to apply vert_offset_correction.

[2018-12-17 08:36] ajay1606 commented on #202
@pavankumarbn , It seems to be a problem with the calibration file (.yaml) .Is that calibration file is default one?

[2018-12-17 08:38] pavankumarbn commented on #202
@ajay1606 Thanks for the reply. Yes, it is default one given with Velodyne Driver.

[2018-12-17 13:39] JWhitleyAStuff commented on #202
@ajay1606 - There should be an XML calibration file provided with every sensor from Velodyne. You can convert this XML file to a YAML file with the utility `velodyne_pointcloud/scripts/gen_calibration.py`.

[2018-12-18 03:04] pavankumarbn commented on #202
@msemtd @ajay1606 @JWhitleyAStuff Thank you all for your valuable suggestions. The reason for this problem is FOV restriction as mentioned by the Velodyne Tech Support Team that current Velodyne ROS drivers don't support FOV restriction.

[2018-12-19 00:21] JWhitleyAStuff commented on #202
@pavankumarbn - Please check out the cut_angle parameter on the driver. This is an in-software way to restrict the field of view. I'm not sure it will cover what you're looking for (it looks like it only starts at Y and goes around counter-clockwise) but it might help. I'm sorry the driver doesn't support this feature at this time but we might be able to do so in the ROS2 version or after organize

[2018-12-19 00:21] #202 closed

[2018-12-19 15:14] pavankumarbn commented on #202
@JWhitleyAStuff Sure I will check! Thank you very much.

[2018-12-20 17:20] andre-nguyen commented on #198
@JWhitleyAStuff I'd like to look into this, but it is unclear to me how this would be implemented such that it works correctly for all lidar models. Any pointers?

[2018-12-20 20:18] JWhitleyAStuff commented on #198
This isn't by any means the only way but, if I was handling this, I would do the following:

- Create a launch file parameter called "dual_return_mode" with true/false values.
- Modify the `packet_rate` values for each sensor in `velodyne_driver` in driver.cc if the above launch parameter is true. For the HDL-64E S3, see page 50 of this document: https://velodynelidar.com/lidar/products/manual/HDL

[2018-12-20 23:02] andre-nguyen commented on #198
@JWhitleyAStuff Excellent pointers, I can definitely look into the VLP16 part as that's what I have on hand, we'll see later for the others.

[2018-12-21 08:01] andersfischernielsen opened #206 "sudo usage in vdump"
`velodyne/velodyne_driver/src/vdump` fails to run on a ROS container in docker.
`sudo` is unavailable in the docker container (the default user is already super user).

[2018-12-21 15:57] JWhitleyAStuff commented on #206
@andersfischernielsen - Please check out the maint/vdump_as_root branch and see if the vdump script works in your Docker container.

[2018-12-22 17:19] JWhitleyAStuff commented on #198
1. The downside to this method is that you won't know until you receive the first couple of blocks which means the topics won't be available until after that. You could do this and publish all three with /points containing all of them and the other two just containing those types. Doesn't matter much to me. Either way is fine.
2. I would publish the double points on both topics because, if someone

[2018-12-23 14:56] versatran01 commented on #197
@JWhitleyAStuff After playing around myself for a bit, I'm proposing to use a range image as intermediate storage for getting ordered point cloud.

The way it works is that instead of unpacking data directly into a point cloud, we put it in a `sensor_msgs::Image` and put relevant information in `sensor_msgs::CameraInfo` and publish these using image_transport. The image is (num beams x num of poin

[2018-12-28 06:25] jnghhk opened #207 "Using vlp16 2ea, publish just one sensor_msg/pointcloud2"

[2018-12-31 05:07] #207 closed

[2019-01-14 21:23] JWhitleyAStuff commented on #206
@andersfischernielsen - ping

[2019-01-16 04:59] JangGyoungHoon opened #209 "Question"
Now, I have a multiple velodyne_packets topics in rosbag file. I want to re -logging rosbag with convert from velodyne_packets to velodyne_points. how to convert from velodyne_packets to velodyne_points in rosbag.

[2019-01-16 05:02] JangGyoungHoon commented on #209
I want to know how to run convert.cc (This code is conversion code from packets to points as my thought.)

[2019-01-17 09:53] Jie-Yuan-China opened #210 "error: undefined reference to `vtable for velodyne_pointcloud::PointcloudXYZIR'"
hallo,
I have recorded the velodyne_msgs/VelodyneScan into rosbag, and i want to use it for accurate mapping task. now i want to transform it into pcl::pointcloud, but an error happens, any kind of help will be appreciated.
error info:
/home/***/catkin_ws/src/velodyne/velodyne_pointcloud/include/velodyne_pointcloud/pointcloudXYZIR.h:10: error: undefined reference to `vtable for velodyne_pointcloud

[2019-01-17 09:53] #210 closed

[2019-01-17 10:02] Jie-Yuan-China opened #211 "error: undefined reference to `vtable for velodyne_pointcloud::PointcloudXYZIR'"
hallo,
I have recorded the velodyne_msgs/VelodyneScan into rosbag, and i want to use it for accurate mapping task. now i want to transform it into pcl::pointcloud, but an error happens, any kind of help will be appreciated.
error info:
/home/***/catkin_ws/src/velodyne/velodyne_pointcloud/include/velodyne_pointcloud/pointcloudXYZIR.h:10: error: undefined reference to `vtable for velodyne_pointcloud

[2019-01-18 11:58] firesnow1234 commented on #54
How about Ubuntu16.04 in this issues？

[2019-01-18 19:30] JWhitleyAStuff commented on #54
The instructions provided above resolve this issue on Ubuntu 14.04, 16.04, and 18.04.

[2019-01-22 09:37] andersfischernielsen commented on #206
Sorry for the late answer. Everything's good now. Thanks! 👍

[2019-01-22 23:31] JWhitleyAStuff commented on #211
@Jie-Yuan-China - What you are trying to do is the purpose of the "cloud nodelet." The file `velodyne_pointcloud/launch/cloud_nodelet` provides an example for launching this nodelet while passing in the name of a nodelet manager. This launch file is used by all of the sensor-specific launch files such as `velodyne_pointcloud/launch/32e_points.launch`.

[2019-01-22 23:32] JWhitleyAStuff commented on #209
@JangGyoungHoon - What you are trying to do is the purpose of the "cloud nodelet." The file velodyne_pointcloud/launch/cloud_nodelet.launch provides an example for launching this nodelet while passing in the name of a nodelet manager. This launch file is used by all of the sensor-specific launch files such as velodyne_pointcloud/launch/32e_points.launch.

[2019-01-22 23:32] #209 closed

[2019-01-22 23:33] JWhitleyAStuff commented on #206
Awesome. Fixed by #212.

[2019-01-22 23:33] #206 closed

[2019-01-22 23:34] JWhitleyAStuff commented on #165
@msemtd - Any progress?

I also heard a rumor that @dejanpaneric was working on something similar.

[2019-01-24 13:09] msemtd commented on #165
Yes, but there's a lot of work required to make it publicly available: dependencies on proprietary code, getting it past the legal dept. etc.

[2019-01-24 15:30] JWhitleyAStuff commented on #165
Thanks for the update. It'll stay on AStuff's list to develop it but I won't hold my breath for either option.

[2019-01-24 22:55] dejanpan commented on #165
@JWhitleyAStuff sorry for late reply. Our development is done: https://gitlab.com/AutowareAuto/AutowareAuto/tree/master/src/drivers.

You can see design documents detailing the architecture design:
1. https://gitlab.com/AutowareAuto/AutowareAuto/blob/master/src/drivers/velodyne_driver/design/velodyne-driver-design.md
1. https://gitlab.com/AutowareAuto/AutowareAuto/blob/master/src/drivers/udp_drive

[2019-01-24 22:59] dejanpan commented on #165
@JWhitleyAStuff I forgot to add that I'd like that we get some feedback and testing on this initial implementation which is a bit large because we wanted to make the driver to be more suitable for safety applications. The design documents motivate and explain the design decisions.

After we will iterate on the implementation above, we should then bring it into this repository here.

Thoughts?

[2019-01-24 23:45] JWhitleyAStuff commented on #165
@dejanpan Thanks for providing this as soon as it was ready for testing! The design documents and implementation look excellent. However, I want to make sure I understand the limitations of the current implementation:

1. It appears that the provided driver is designed with sensor-specific parameters for the VLP-16 (Vlp16Translator) only - is that correct?
2. Since the VLP-16 does not need a calib

[2019-02-01 15:41] jimmyw404 opened #213 "DriverNodelet's Poll Timeout Handling"
In the DriverNodelet::devicePoll() function if the VelodyneDriver::poll() call fails, the devicePoll thread will exit. This happens if there is a network disconnect, the puck's power cycles etc.

This was requiring me to restart the velodyne Driver nodelet whenever I had a timeout.

Is the intent that there is some other mechanism to restart the DriverNodelet when it is detected it exits? What is

[2019-02-07 19:26] JWhitleyAStuff commented on #57
@jonla1 - See #58. Any way you could work on this PR?

[2019-02-07 19:26] #57 closed

[2019-02-13 23:46] Engietoday opened #215 "Non-eth0 Interface"
Do I need to specify which NIC card the Lidar is connected to? My interface name is eno2 and I'm not able to get any point readings from a 32C.

[2019-02-14 02:13] JWhitleyAStuff commented on #215
@Engietoday - You do not need to specify the interface but you must specify the IP address. Make sure that you can ping the IP address from a terminal and visit the sensor's IP address in a browser for configuration. If you can, make sure that it is configured to use 2368 as the data port. If these are correct, make sure you are setting the IP address in the launch file or passing it in like:

[2019-02-14 02:34] JWhitleyAStuff commented on #213
@jimmyw404 - Check the branch `maint/poll_timeout_handling`. Let me know if it works and I'll merge it if it does.

[2019-02-18 14:20] jimmyw404 commented on #213
@JWhitleyAStuff Thank you for that code change. It will work just fine.

[2019-02-18 14:20] #213 closed

[2019-02-18 20:26] #215 closed

[2019-02-21 00:01] etanx opened #217 "Catkin_make error: can't build a non-homogeneous workspace with non-catkin packages"
I was trying to install ROS drivers to process .pcap files from my VLP-32c on my Raspberry Pi 3 (running Raspbian Stretch). ROS kinetic has previously been installed. After searching how on earth to work with ROS packages, I tried:
[code]
... and got the output:
[code]
Some other forums mentioned to delete existing folders `build`, `devel`, and `install` in the catkin folder, but that didn't solve

[2019-02-21 02:55] JWhitleyAStuff commented on #217
There are several issues in your workspace but none of them are related to the Velodyne driver. The first issue I see is that catkin says you're building packages in your workspace which are not catkin packages. The build system prior to catkin was rosbuild and catkin does not properly support building rosbuild packages. You can tell them apart because catkin uses package.xml files and rosbuild us

[2019-02-21 02:55] #217 closed

[2019-02-27 01:00] ogail opened #218 "VLP16 incorrect timestamp"
Hi,
We had a problem with VLP16 providing incorrect timestamps. Looking further in `rawdata.cc`, in `unpack` method we do following
[code]

My expectation that the `packet_timestamp` should be always between `0` and `3600` seconds inclusive (as the timestamp is from last hour based on VLP-16 User Manual 63-9243 Rev. D). However I get this series of data for `packet_timestamp`
[code]
I wonder how c

[2019-03-01 09:23] duchengyao commented on #124
make sure  TTL in PPS and RS232 in GPRMC

[2019-03-13 18:20] koelsinha commented on #61
Hi,

I am having the same issue with my VLP16. I have changed the min_range parameter in the launch file do not see any change. The following is my launch file:

[code]

I would really appreciate it if you could take a look and tell me if I am missing something.
Also, do I need to change anything in the cfg folder? The following are my CloudNode.cfg and TransformNode.cfg files:

CloudNode.cfg:

[c

[2019-03-17 03:24] wwtinwhu opened #219 "The startOrientation of the point cloud from rosbag is not consistent with pcap file"
Hi,Whitley. First of all, thank you for your contribution on velodyne-drivers. It is really good. But I have found a problem when I want to **calculate the start orientation of the pointcloud**.

As usual, I use the function pcl::fromROSMsg() to get pointcloud. And I suppose the first element of the pointcloud is the **first point from the pointcloud** which is first fired and received because the

[2019-03-17 21:15] JWhitleyAStuff commented on #219
There are two reasons why the point clouds don't match the PCAP results:
1. The point cloud is not organized - points are semi-random in the point cloud.
2. A point could does not directly match one scan. The driver gathers points for a specified amount of time and publishes the cloud. It does not wait for the beginning or end of a scan.

@spuentz is working on number one in #214 but the other iss

[2019-03-18 00:32] wwtinwhu commented on #219
Thanks,Whitley! There are two questions I have to ask.

1.what does semi-random mean? The points in the pointcloud array are not arranged by time?

2.About the second reason you mentioned, I got that. You meant that pcap always waits for the beginning of a scan, and the driver don't. That can explain why the startOrientation of the point cloud is not around 0 degree(the start of pacp file). But th

[2019-03-18 18:49] JWhitleyAStuff commented on #219
@wwtinwhu:

1. Because the point clouds do not match up with the scans, the first point in the cloud will *likely* always be the same point within the scan but because the timing is not 100% identical to the scan timing, it may change. Organized point clouds will fix this problem. It will not fix the problem that the timing does not exactly match. This is why the startOrientation can be different

[2019-03-18 18:49] #219 closed

[2019-03-19 01:31] wwtinwhu commented on #219
@JWhitleyAStuff  That's so nice of you! I get that point, thank you to  solve my problem! Good luck!

[2019-03-27 15:39] JWhitleyAStuff commented on #165
Hey, @dejanpan - Any update on this?

[2019-03-27 15:47] samkys commented on #163
Is this completely solved? Reason I ask we are seeing similar flicker even if both values match. This is visible with the vlp-16 -32 that we have. This does not show up if you visualize using Velodyne's tool. From what I can tell it is due to the fact that the actual RPM fluctuates slightly and the driver is polling data at the exact set value that it was set at. If you watch the actual RPM of the

[2019-03-28 17:54] JWhitleyAStuff commented on #157
Solved by #222.

[2019-03-28 17:54] #157 closed

[2019-03-28 17:55] JWhitleyAStuff commented on #163
@samkys - This is a known issue with the driver. See Jack's comment here: https://github.com/ros-drivers/velodyne/issues/33#issuecomment-58757287 If you would like to submit a PR to attempt to correct it, I'd be happy to review.

[2019-03-29 00:55] samkys commented on #163
Ahhh, thanks didn't see #33. Not certain when I can get to it but will see what I can do. Thanks for the update!

[2019-03-29 09:14] killyseason opened #229 "How to transfer the .pack format into txt"
I have some datasets in the format of .pack ,each contains one frame scan ladar data,and I want to use the velodyne package to transfer the .pack format into .txt format and show the xyz coordinate.What can I do, I'm totally a freshman to the velodyne,What command line do I need to enter?
Thanks!

[2019-03-29 14:50] shawnhanna opened #230 "No interpolation of azimuth in non-VLP16 unpack() function"
It looks like there is azimuth velocity interpolation for points in the rawdata::unpack_vlp16() function, but not in rawdata::unpack(). Is there a reason to not have this functionality in both functions?

[2019-03-29 17:24] JWhitleyAStuff commented on #229
The Velodyne driver does not currently support this format. If you build a converter to combine the .pack files and produce a .pcap file (not an easy task) then you could replay the .pcap file through the driver, record the output as a rosbag and then use something like https://github.com/AtsushiSakai/rosbag_to_csv to convert the output to human-readable. Otherwise, I'm not sure I can help with th

[2019-03-29 17:24] #229 closed

[2019-04-02 02:55] 2amour opened #232 "[ERROR] [1554173288.904455221]: DriverNodelet::devicePoll - Failed to poll device."
Hi, I use the velodyne-16 on ubuntu16.04,  but I got the error:[ERROR] [1554173288.904455221]: DriverNodelet::devicePoll - Failed to poll device.
What's the problem?

[2019-04-02 15:37] JWhitleyAStuff commented on #232
@2amour There are several possible causes. Could you please answer the following (I'll be adding an Issue Template here in a moment):

Are you able to ping the device?
What is the device IP?
Are you building the driver from source or using the version from the build farm?
If using the version from the build farm, which version (`sudo dpkg -s ros-$ROS_VERSION-velodyne`)?

[2019-04-02 15:47] JWhitleyAStuff commented on #230
@shawnhanna - I am not really sure. I did not originally develop the driver and don't have this level of knowledge of the sensors. Let's see if @jack-oquin can help here.

[2019-04-02 15:50] JWhitleyAStuff commented on #218
I have not seen this issue and I believe you are correct about the timestamp_since_last_hour's expected values. Could you provide a more comprehensive log using the latest version of the driver? A PR was merged that allows using the actual packet time from the sensor to pass through instead of using an interpolated ROS time - please enable this feature with the `gps_time` parameter and see if the

[2019-04-03 01:40] 2amour commented on #232
Hi @JWhitleyAStuff! Thank you for your reply!
First, my lidar's ip is 192.168.1.201 and my computer's ip is 192.168.1.200. I can successfully ping my lidar.
Second, I build the driver from source.
Actually, if I run the roslaunch velodyne_points VLP16.launch commond  three times, it worked! And I don't konw why.

[2019-04-03 01:45] 2amour commented on #232
this is the output after I run the roslaunch commond:
a409@a409:~$ roslaunch velodyne_pointcloud VLP16_points.launch
... logging to /home/a409/.ros/log/98a12966-55af-11e9-a56d-4c028912c74a/roslaunch-a409-6094.log
Checking log directory for disk usage. This may take awhile.
Press Ctrl-C to interrupt
Done checking log file disk usage. Usage is <1GB.

started roslaunch server http://a409:35315/

SUMM

[2019-04-04 15:28] kmhallen opened #233 "C++ 11 or greater"
It looks like the C++ standard was set to C++11 recently. Indigo/Trusty and Kinetic/Xenial default to C++98, so this is necessary. However, Melodic/Bionic defaults to the newer C++14, and reducing the standard to C++11 may be undesired.

The following cmake lines set the C++ standard to C++11 only when necessary. This has been tested in several Dataspeed packages for ROS Indigo/Kinetic/Melodic for

[2019-04-08 22:07] JWhitleyAStuff commented on #233
@kmhallen - Thanks for the info. Would you mind making a PR (I've just been given access to maintain `image_pipeline` and it's taking up a lot of my time at the moment)? Thanks!

[2019-04-08 22:49] kmhallen commented on #233
PR #234

[2019-04-11 06:25] klintan commented on #165
I started this work as well, if you create a ROS2 branch I can create a draft PR to that branch.

(Of course if others already have this almost finished I would love to just use that :) )

[2019-04-11 15:11] JWhitleyAStuff commented on #165
@klintan - You're correct, it is pretty Autoware-specific. I'll create a `crystal-devel` branch that we can work on here. One second.

[2019-04-11 15:15] JWhitleyAStuff commented on #165
OK - I created a `crystal-devel` branch. So we're on the same page, are you creating a full ROS2 port or working on a ROS1/ROS2 hybrid?

[2019-04-11 17:58] klintan commented on #165
Awesome thanks!

Hm I guess I don't I really know the difference/distinction, but the goal would be to be a full ROS2 port.

[2019-04-11 18:01] JWhitleyAStuff commented on #165
A ROS1/ROS2 hybrid is a node that can build and run in both ROS Melodic (or earlier, in some cases) and ROS Crystal. I'm working on getting one released right now: https://github.com/astuff/ml_classifiers

See the CMakeLists.txt and package.xml for details. The biggest advantage is shared code - the core C++ code can remain unchanged and the ROS-version-specific wrapper is written twice: once for

[2019-04-11 20:00] mpitropov opened #235 "Improper lidar distortion correction"
**Please complete the following information:**
 - Ubuntu 16.04
 - ROS Version Kinetic
 - Built from Source

**Describe the bug**
Transform output pointcloud is set to the wrong frame.

**To Reproduce**
Play a bag with transforms and lidar packets, run your localizer node and view pointcloud in rviz

**Expected behavior**
points should be in target (lidar) frame but they actually are in fixed (map)